@model C500Hemis.Models.TbToChucHopTacQuocTe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbToChucHopTacQuocTe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHopTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHopTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenToChuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenToChuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKyKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKyKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQuaHopTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQuaHopTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiToChuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiToChuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuocGiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaNavigation.IdQuocTich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdToChucHopTacQuocTe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
