@model IEnumerable<C500Hemis.Models.TbToChucHopTacQuocTe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHopTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenToChuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianKyKet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetQuaHopTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiToChuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdQuocGiaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHopTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenToChuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKyKet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KetQuaHopTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiToChuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdQuocGiaNavigation.IdQuocTich)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdToChucHopTacQuocTe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdToChucHopTacQuocTe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdToChucHopTacQuocTe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
