@model C500Hemis.Models.TbDuLieuTrungTuyen

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbDuLieuTrungTuyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTuyenSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTuyenSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoaDaoTaoTrungTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoaDaoTaoTrungTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruongThpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruongThpt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToHopMonTrungTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToHopMonTrungTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemMon1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemMon1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemMon2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemMon2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemMon3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemMon3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemUuTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemUuTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongDiemXetTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongDiemXetTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhTrungTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhTrungTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBanHanhQuyetDinhTrungTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBanHanhQuyetDinhTrungTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoDaiHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoDaiHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NganhDaTotNghiepTrinhDoDaiHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NganhDaTotNghiepTrinhDoDaiHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoThacSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuongTrinhDaoTaoDaTotNghiepTrinhDoThacSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NganhDaTotNghiepTrinhDoThacSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NganhDaTotNghiepTrinhDoThacSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoiTuongDauVaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoiTuongDauVaoNavigation.IdDoiTuongDauVao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoiTuongUuTienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoiTuongUuTienNavigation.IdDoiTuongUuTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucTuyenSinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucTuyenSinhNavigation.IdHinhThucTuyenSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKhuVucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKhuVucNavigation.IdKhuVuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDuLieuTrungTuyen" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
