@model C500Hemis.Models.TbThuVienTrungTamHocLieu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbThuVienTrungTamHocLieu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThuVienTrungTamHocLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThuVienTrungTamHocLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThuVienTrungTamHocLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThuVienTrungTamHocLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamDuaVaoSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamDuaVaoSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienTichPhongDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienTichPhongDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPhongDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPhongDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongMayTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongMayTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongChoNgoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongChoNgoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTapChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTapChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongSachDienTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongSachDienTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTapChiDienTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTapChiDienTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuonngThuVienDienTuLienKetNn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuonngThuVienDienTuLienKetNn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDauSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDauSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDauTapChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDauTapChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDauSachDienTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDauSachDienTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDauTapChiDienTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDauTapChiDienTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucSoHuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucSoHuuNavigation.IdHinhThucSoHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrangCsvcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrangCsvcNavigation.IdTinhTrangCoSoVatChat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdThuVienTrungTamHocLieu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
