@model C500Hemis.Models.TbGiaHanChuongTrinhDaoTao

@{
    ViewData["Title"] = "Xoá";
}

@section Heads {
    <script src="https://kit.fontawesome.com/5c202d0407.js" crossorigin="anonymous"></script>
}

<div class="container mt-4">
    <h4 class="text-left">Xác Nhận Xoá Thông Tin</h4>
    <hr />
    <dl class="row g-0 text-left">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTao)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdChuongTrinhDaoTao)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdGiaHanChuongTrinhDaoTao)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdGiaHanChuongTrinhDaoTao)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NgayBanHanhVanBanGiaHan)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NgayBanHanhVanBanGiaHan)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.GiaHanLanThu)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.GiaHanLanThu)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
        </dd>
    </dl>

    <div class="text-left mt-4">
        <form asp-action="Delete" class="d-inline">
            <input type="hidden" asp-for="IdGiaHanChuongTrinhDaoTao" />
            <button type="submit" class="btn btn-danger me-2">Xoá</button>
        </form>
        <a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
    </div>
</div>