@model IEnumerable<C500Hemis.Models.TbGiaHanChuongTrinhDaoTao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhGiaHan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBanHanhVanBanGiaHan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaHanLanThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhGiaHan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBanHanhVanBanGiaHan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaHanLanThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGiaHanChuongTrinhDaoTao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGiaHanChuongTrinhDaoTao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGiaHanChuongTrinhDaoTao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
