@model IEnumerable<C500Hemis.Models.TbGiaHanChuongTrinhDaoTao>

@{
    ViewData["Title"] = "Index";
    int stt = 0;
}
@section Heads {
    @* ======= nhúng datatable ========= *@
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    @* ========== nhúng icon ========= *@
    <script src="https://kit.fontawesome.com/5c202d0407.js" crossorigin="anonymous"></script>
}
<h1>DANH SÁCH GIA HẠN CHƯƠNG TRÌNH ĐÀO TẠO</h1>
<h4><strong style="color:red">@Model.Count()</strong> chương trình đào tạo đã được gia hạn</h4>
<p>
    <a class="btn btn-success" asp-action="Create">
        <i style="margin-right:10px" class="fas fa-plus"></i>
        Thêm mới
    </a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr class="table-active">
            <th class="col-1">
                STT
            </th>
            <th class="col-2">
                Tên CTĐT
            </th>
            <th class="col-3">
                Số QĐ Gia Hạn
            </th>
            <th class="col-4">
                Ngày Ban Hành VB Gia Hạn
            </th>
            <th class="col-5">
                @Html.DisplayNameFor(model => model.GiaHanLanThu)
            </th>

            <th class="col-6"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var text = stt % 2 == 0 ? "table-light" : "table-secondary";    @* sử dụng toán tử ba ngôi để chọn class *@
            <tr class="@text">
                <td class="col-1">
                    @(++stt)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.TenChuongTrinh)
                </td>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => item.SoQuyetDinhGiaHan)
                </td>
                <td class="col-4">
                    @Html.DisplayFor(modelItem => item.NgayBanHanhVanBanGiaHan)
                </td>
                <td class="col-5">
                    @Html.DisplayFor(modelItem => item.GiaHanLanThu)
                </td>

                <td class="col-6">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdGiaHanChuongTrinhDaoTao"><b style="margin-right:10px" class="fa-solid fa-user-pen"></b>Chỉnh sửa</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdGiaHanChuongTrinhDaoTao"><b style="margin-right:10px" class="fa-solid fa-circle-info"></b>Mô tả</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdGiaHanChuongTrinhDaoTao"><b style="margin-right:10px" class="fa-solid fa-trash"></b>Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Styles {
    @* ======== common ======== *@
    <style>
        a {
            text-decoration: none;
        }

        h1, h4 {
            text-align: center;
        }
            
        /* ======== chỉnh độ rộng của cột ======= */
        .col-1 {
            width: 2%;
            text-align: center !important;
        }

        .col-2 {
            width: 19%;
            text-align: center !important;
        }

        .col-3 {
            width: 15%;
            text-align: center !important;
        }

        .col-4 {
            width: 22%;
            text-align: center !important;
        }

        .col-5 {
            width: 14%;
            text-align: center !important;
        }

        .col-6 {
            width: 28%;
            text-align: center !important;
        }

        /* ======== tuỳ chỉnh màu khác nhau giữa 2 dòng ===== */


    </style>
}

@* ======== datatable ======== *@
@section Scripts {
    <script>
        new DataTable('.table', {
            lengthMenu: [5, 10, 20, 50, 100],
            language: {
                processing: "Đang tải dữ liệu",
                search: "Tìm kiếm",
                lengthMenu: "Điều chỉnh số lượng bản ghi trên 1 trang MENU ",
                info: "Tổng cộng TOTAL bản ghi",
                infoEmpty: "Chưa có chương trình nào trong danh sách",
                infoFiltered: "",
                infoPostFix: "", // Cái này khi thêm vào nó sẽ đứng sau info
                loadingRecords: "",
                zeroRecords: "Không tìm thấy dữ liệu",
                emptyTable: "Không có dữ liệu",
                paginate: {
                    first: "<<",
                    previous: "<",
                    next: ">",
                    last: ">>"
                },
                aria: {
                    sortAscending: ": Đang sắp xếp",
                    sortDescending: ": Đang sắp xếp",
                }
            },
        });
    </script>
}