@model C500Hemis.Models.TbLoaiThuChi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbLoaiThuChi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiThuChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiThuChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoaiThuChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiThuChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhanLoaiThuChiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhanLoaiThuChiNavigation.IdPhanLoaiThuChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLoaiThuChi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
