@model IEnumerable<C500Hemis.Models.TbLoaiThuChi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiThuChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiThuChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPhanLoaiThuChiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiThuChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiThuChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhanLoaiThuChiNavigation.IdPhanLoaiThuChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLoaiThuChi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLoaiThuChi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLoaiThuChi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
