@model C500Hemis.Models.TbVanBanTuChu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbVanBanTuChu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiVanBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiVanBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungVanBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungVanBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuyetDinhBanHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuyetDinhBanHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanQuyetDinhBanHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanQuyetDinhBanHanh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVanBanTuChu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
