@model C500Hemis.Models.TbHopDongThinhGiang

@{
    ViewData["Title"] = "Delete";
}

<style>
    .row {
        width: 900px;
        background-color: transparent;
        color: black;
        border-radius: 10px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 30px 40px;
        border: 2px solid rgba(255, 255, 255, .2);
        margin: auto;
        display: flex;
    }
    dt{
        font-weight:bold;
    }

</style>
<h1>Xóa</h1>

<h3>Bạn có muốn xóa không?</h3>
<div>
    <h4>Hợp đồng thỉnh giảng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHopDongThinhGiang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHopDongThinhGiang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoSoLaoDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoSoLaoDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapSoLaoDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapSoLaoDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiCapSoLaoDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiCapSoLaoDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoGiaTriTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoGiaTriTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoGiaTriDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoGiaTriDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyLeThoiGianGiangDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyLeThoiGianGiangDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrangThaiHopDongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangThaiHopDongNavigation.IdTrangThaiHopDong)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHopDongThinhGiang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sácn</a>
    </form>
</div>
