@model C500Hemis.Models.TbDatDai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDatDai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiayChungNhanQuyenSoHuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiayChungNhanQuyenSoHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienTichDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienTichDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDonViSoHuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDonViSoHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinhChungQuyenSoHuuDatDai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinhChungQuyenSoHuuDatDai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucDichSuDungDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucDichSuDungDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauSuDungDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauSuDungDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianSuDungDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianSuDungDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienTichDatDaSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienTichDatDaSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucSoHuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucSoHuuNavigation.IdHinhThucSoHuu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDatDai">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
