@model C500Hemis.Models.TbNgonNguGiangDay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbNgonNguGiangDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNgonNguNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNgonNguNavigation.IdNgoaiNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoNgonNguDauVaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoNgonNguDauVaoNavigation.IdKhungNangLucNgoaiNgu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNgonNguGiangDay">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
