@model C500Hemis.Models.TbSachDaXuatBan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbSachDaXuatBan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuanIsbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuanIsbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nxb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamViet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamViet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDangTaiLieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDangTaiLieuNavigation.IdDangTaiLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiSachTapChiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiSachTapChiNavigation.IdLoaiSachTapChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNhiemVuKhcnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNhiemVuKhcnNavigation.IdNhiemVuKhcn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSachDaXuatBan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
