@model C500Hemis.Models.TbHopDong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbHopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoGiaTriTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoGiaTriTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoGiaTriDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoGiaTriDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LamViecToanThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LamViecToanThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiHopDongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiHopDongNavigation.IdLoaiHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrangHopDongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrangHopDongNavigation.IdTinhTrangHopDong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHopDong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
