@model C500Hemis.Models.TbChiTietThuChi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbChiTietThuChi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhoanThuChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhoanThuChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamTaiChinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamTaiChinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiThuChiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiThuChiNavigation.IdLoaiThuChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChiTietThuChi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
