@model IEnumerable<C500Hemis.Models.TbChiTietThuChi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoanThuChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamTaiChinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiThuChiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoanThuChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamTaiChinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiThuChiNavigation.IdLoaiThuChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChiTietThuChi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChiTietThuChi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChiTietThuChi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
