@model C500Hemis.Models.TbHoiThaoHoiNghi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbHoiThaoHoiNghi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHoiThaoHoiNghi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHoiThaoHoiNghi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHoiThaoHoiNghi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHoiThaoHoiNghi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanCoThamQuyenCapPhep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanCoThamQuyenCapPhep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucTieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucTieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDaiBieuThamDu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDaiBieuThamDu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDaiBieuQuocTeThamDu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDaiBieuQuocTeThamDu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianToChuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianToChuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemToChuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemToChuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViChuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViChuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguonKinhPhiHoiThaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguonKinhPhiHoiThaoNavigation.IdNguonKinhPhi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHoiThaoHoiNghi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
