@model C500Hemis.Models.TbThietBiPtnThtren500Tr

@{
    ViewData["Title"] = "Delete";
}

<h1 align="center">Delete</h1>

<h3 align="center">Bạn muốn xóa chứ?</h3>
<div>
    <h4 align="center">Thông Tin Phòng Thiết Bị</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThietBi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThietBi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThietBi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThietBi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongThietBiCungLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongThietBiCungLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamDuaVaoSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamDuaVaoSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCongTrinhCsvcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCongTrinhCsvcNavigation.IdCongTrinhCoSoVatChat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuocGiaXuatXuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaXuatXuNavigation.IdQuocTich)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdThietBiPtnTh" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
