@model C500Hemis.Models.TbPhongThucHanh

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background-image: linear-gradient(to right, rgb(124, 182, 191), rgb(200, 223, 227), #ffff);
        background-size: cover; /* Để nền phủ hết trang */
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    h1, h3 {
        text-align: center;
    }

    h4 {
        text-align: center;
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    table {
        width: 100%; /* Cho bảng chiếm 100% chiều rộng */
        max-width: 600px; /* Đặt giới hạn chiều rộng bảng */
        margin: 0 auto; /* Canh giữa bảng */
        background-color: #f9f9f9; /* Màu nền cho bảng */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng để bảng nổi bật */
        border-radius: 8px; /* Làm bo tròn các góc của bảng */
        border-collapse: collapse;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }

    .btn-danger {
        background-color: #e74c3c;
        color: white;
    }

    .btn-secondary {
        background-color: #95a5a6;
        color: white;
    }

    form {
        text-align: center; /* Canh giữa các nút */
    }
</style>

<h1>Xoá Dữ Liệu</h1>

<h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
<div>
    <h4>Phòng Thực Hành</h4>
    <hr />

    <table class="table table-bordered" style="padding: 20px; border: 2px solid black; border-radius: 8px;  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);">
        <thead></thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MucDoDapUngNhuCauNckh)</td>
                <td>@Html.DisplayFor(model => model.MucDoDapUngNhuCauNckh)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.NamDuaVaoSuDung)</td>
                <td>@Html.DisplayFor(model => model.NamDuaVaoSuDung)</td>
            </tr>
            <tr>
                <td>Mã Công Trình Cơ Sở Vật Chất</td>
                <td>@Html.DisplayFor(model => model.IdCongTrinhCsvcNavigation.IdCongTrinhCoSoVatChat)</td>
            </tr>
            <tr>
                <td>Lĩnh Vực Nghiên Cứu</td>
                <td>@Html.DisplayFor(model => model.IdLinhVucNavigation.IdLinhVucNghienCuu)</td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPhongThucHanh" />
        <input type="submit" value="Xoá Dữ Liệu" class="btn btn-danger" />
        <span style="margin: 0 5px;"></span>
        <a asp-action="Index" class="btn btn-secondary" style="text-decoration: none;">Thoát Trang</a>
    </form>
</div>

