@model C500Hemis.Models.TbTapChiKhoaHoc

@{
    ViewData["Title"] = "Delete";
}
@section Heads {
    <style>
        footer {
            visibility: hidden;
        }
    </style>
}
@*
    /*B8D55 AT13 Ca Kỳ Hòa*/
    Nội dung:
        - Tương tự như phần Details, có chức năng xóa
        - Hiển thị nội dung đã nhập
    Hình thức: 
        - Sử dụng css làm đẹp
        - Đồng bộ phong cách với các phần khác với màu chủ đạo là đỏ và logo học viện an ninh
        - Có hiệu ứng tương tác với các thuộc tính
*@
<style>
    body {
        background-image: url(https://upload.wikimedia.org/wikipedia/vi/thumb/8/85/Logo_hoc_vien_ANND.png/330px-Logo_hoc_vien_ANND.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(195,34,34);
    }

    .khungchua {
        min-height: 80vh;
        width: 600px;
        background-color: #FFF9;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin: auto;
        backdrop-filter: blur(7px);
    }

    .header {
        background-color: #d5d1defe; /* Màu nền cho header */
        border-radius: 10px 10px 0 0; /* Bo góc cho phần trên */
        height: 105px;
    }

    dt {
        white-space: nowrap;
    }

    h1, h3 {
        font-family: Apice;
        text-align: center;
    }

    .row {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 30px;
    }

    .btn-container {
        display: flex;
        justify-content: center; /* Căn giữa */
        margin-top: 20px; /* Khoảng cách phía trên */
    }

    .btn-back {
        background-color: #41B06E;
        color: #E9EFEC;
        margin: 0 10px; /* Khoảng cách giữa các nút */
    }

        .btn-back:hover {
            background-color: #8DECB4;
            transform: scale(1.05);
        }

    .btn-danger:hover {
        transform: scale(1.05);
    }
</style>

<div class="khungchua">
    <div class="header">
        <h1>Xóa</h1>
        <h3>Bạn có thật sự muốn xóa?</h3>
    </div>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.MaTapChi)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.MaTapChi)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TenTapChiTiengViet)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TenTapChiTiengViet)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TenTapChiTiengAnh)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TenTapChiTiengAnh)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.MaChuanIssn)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.MaChuanIssn)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.SoBaiBao1Nam)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.SoBaiBao1Nam)
        </dd>
        <dt class = "col-sm-6">
            Lĩnh vực xuất bản
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.IdLinhVucXuatBanNavigation.LinhVucNghienCuu)
        </dd>
        <dt class = "col-sm-6">
            Xếp loại tạp chí
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.IdXepLoaiTapChiNavigation.TapChiTrongNuoc)
        </dd>
    </dl>
    <div class="d-flex justify-content-center btn-container mt-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdTapChiKhoaHoc" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-back">Back to List</a>
        </form>
    </div>
</div>
