@model C500Hemis.Models.TbTapChiKhoaHoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbTapChiKhoaHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTapChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTapChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTapChiTiengViet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTapChiTiengViet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTapChiTiengAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTapChiTiengAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuanIssn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuanIssn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBaiBao1Nam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBaiBao1Nam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinhVucXuatBanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinhVucXuatBanNavigation.IdLinhVucNghienCuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdXepLoaiTapChiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdXepLoaiTapChiNavigation.IdTapChiTrongNuoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTapChiKhoaHoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
