@model C500Hemis.Models.TbNguoi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbNguoi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapCccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapCccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiCapCccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiCapCccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTonGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTonGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVaoDoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVaoDoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVaoDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVaoDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVaoDangChinhThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVaoDangChinhThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXuatNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayXuatNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChucDanhKhoaHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChucDanhKhoaHocNavigation.IdChucDanhKhoaHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChuyenMonDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChuyenMonDaoTaoNavigation.IdNganhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDanToc1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDanToc1.IdTonGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDanTocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDanTocNavigation.IdDanToc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGiaDinhChinhSachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGiaDinhChinhSachNavigation.IdHoGiaDinhChinhSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGioiTinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGioiTinhNavigation.IdGioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKhungNangLucNgoaiNgucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKhungNangLucNgoaiNgucNavigation.IdKhungNangLucNgoaiNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNgoaiNguNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNgoaiNguNavigation.IdNgoaiNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuocTichNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocTichNavigation.IdQuocTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdThuongBinhHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdThuongBinhHangNavigation.IdHangThuongBinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoLyLuanChinhTriNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoLyLuanChinhTriNavigation.IdTrinhDoLyLuanChinhTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoQuanLyNhaNuocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoQuanLyNhaNuocNavigation.IdTrinhDoQuanLyNhaNuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoTinHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoTinHocNavigation.IdTrinhDoTinHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNguoi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
