@model IEnumerable<C500Hemis.Models.TbKyLuatCanBo>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">HỒ SƠ CÁN BỘ BỊ KỶ LUẬT</h1>

<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>
                Lý do
            </th>
            <th>
                Ngày nhận QĐ
            </th>
            <th>
                Số QĐ
            </th>
            <th>
                Năm bị kỷ luật
            </th>
            <th>
                ID Cán bộ
            </th>
            <th>
                Cấp QĐ
            </th>
            <th>
                Hình thức
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align: center">
                <td style="text-align: left">
                    @Html.DisplayFor(modelItem => item.LyDo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThangNamQuyetDinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamBiKyLuat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCanBoNavigation.IdCanBo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCapQuyetDinhNavigation.CapKhenThuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiKyLuatNavigation.LoaiKyLuat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdKyLuatCanBo">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.IdKyLuatCanBo">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdKyLuatCanBo">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">THÊM HỒ SƠ KỶ LUẬT</a>
</p>