@model IEnumerable<C500Hemis.Models.TbKyLuatCanBo>

@{
    ViewData["Title"] = "Index";
}

<h1>HỒ SƠ CÁN BỘ BỊ KỶ LUẬT</h1>

<p>
    <a asp-action="Create">THÊM HỒ SƠ KỶ LUẬT</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lý do
            </th>
            <th>
                Ngày nhận quyết định
            </th>
            <th>
                Số quyết định
            </th>
            <th>
                Năm bị kỷ luật
            </th>
            <th>
                ID Cán bộ
            </th>
            <th>
                Cấp quyết định
            </th>
            <th>
                Loại kỷ luật
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThangNamQuyetDinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoQuyetDinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamBiKyLuat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCanBoNavigation.IdCanBo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCapQuyetDinhNavigation.IdCapKhenThuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiKyLuatNavigation.IdLoaiKyLuat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdKyLuatCanBo">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.IdKyLuatCanBo">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdKyLuatCanBo">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>