@model C500Hemis.Models.TbDeAnDuAnChuongTrinh

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbDeAnDuAnChuongTrinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDeAnDuAnChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDeAnDuAnChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDeAnDuAnChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDeAnDuAnChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungTomTat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungTomTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucTieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucTieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianHopTacTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianHopTacTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianHopTacDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianHopTacDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongKinhPhi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongKinhPhi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguonKinhPhiDeAnDuAnChuongTrinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguonKinhPhiDeAnDuAnChuongTrinhNavigation.IdNguonKinhPhiChoDeAn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDeAnDuAnChuongTrinh" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
