@model IEnumerable<C500Hemis.Models.TbDeAnDuAnChuongTrinh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDeAnDuAnChuongTrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDeAnDuAnChuongTrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDungTomTat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucTieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianHopTacTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianHopTacDen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongKinhPhi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguonKinhPhiDeAnDuAnChuongTrinhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDeAnDuAnChuongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDeAnDuAnChuongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDungTomTat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucTieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianHopTacTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianHopTacDen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongKinhPhi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguonKinhPhiDeAnDuAnChuongTrinhNavigation.IdNguonKinhPhiChoDeAn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDeAnDuAnChuongTrinh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDeAnDuAnChuongTrinh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDeAnDuAnChuongTrinh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
