@model C500Hemis.Models.TbKhoaBoiDuongTapHuanThamGiaCuaCanBo

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết thông tin cán bộ</h1>
<div>

    <h4>Khoa bồi dưỡng tập huấn tham gia của cán bộ</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Tên khoa bồi dưỡng tập huấn</th>
            <td>@Html.DisplayFor(model => model.TenKhoaBoiDuongTapHuan)</td>
        </tr>
        <tr>
            <th>Đơn vị tổ chức</th>
            <td>@Html.DisplayFor(model => model.DonViToChuc)</td>
        </tr>
        <tr>
            <th>Địa điểm tổ chức</th>
            <td>@Html.DisplayFor(model => model.DiaDiemToChuc)</td>
        </tr>
        <tr>
            <th>Thời gian bắt đầu</th>
            <td>@Html.DisplayFor(model => model.ThoiGianBatDau)</td>
        </tr>
        <tr>
            <th>Thời gian kết thúc</th>
            <td>@Html.DisplayFor(model => model.ThoiGianKetThuc)</td>
        </tr>
        <tr>
            <th>Chứng chỉ</th>
            <td>@Html.DisplayFor(model => model.ChungChi)</td>
        </tr>
        <tr>
            <th>Ngày cấp</th>
            <td>@Html.DisplayFor(model => model.NgayCap)</td>
        </tr>
        <tr>
            <th>ID cán bộ giảng dạy</th>
            <td>@Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)</td>
        </tr>
        <tr>
            <th>ID loại bồi dưỡng cán bộ</th>
            <td>@Html.DisplayFor(model => model.IdLoaiBoiDuongNavigation.IdLoaiBoiDuong)</td>
        </tr>
        <tr>
            <th>Nguồn kinh phí cán bộ</th>
            <td>@Html.DisplayFor(model => model.IdNguonKinhPhiNavigation.IdNguonKinhPhi)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKhoaBoiDuongTapHuanThamGiaCuaCanBo" class="btn-red">Chỉnh sửa</a> |
    <a asp-action="Index" class="btn-blue">Quay lại danh sách</a>
</div>

<style>
    .btn-red, .btn-blue {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

    .btn-red {
        background-color: darkolivegreen;
    }

        .btn-red:hover {
            background-color: green;
        }

    .btn-blue {
        background-color: blue;
    }

        .btn-blue:hover {
            background-color: darkblue;
        }
    
</style>