@model IEnumerable<C500Hemis.Models.DM.DmHinhThucHopTac>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhThucHopTac)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHinhThucHopTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucHopTac)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHinhThucHopTac">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHinhThucHopTac">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHinhThucHopTac">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
