@model IEnumerable<C500Hemis.Models.TbDoiTuongThamGium>

@{
    ViewData["Title"] = "Đối tượng tham gia";
}
@section Heads{
         <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        footer {
            visibility: hidden;
        }
    </style>
}

<style>
        /*B8D55 AT13 Ca Kỳ Hòa*/
    /*Ảnh nền cho Index (bao gồm logo HVAN và màu nền đỏ)*/
    body{
        background-image: url(https://upload.wikimedia.org/wikipedia/vi/thumb/8/85/Logo_hoc_vien_ANND.png/330px-Logo_hoc_vien_ANND.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(195,34,34);
    }
    /*Chỉnh font chữ cho H1*/
    h1{
        font-family: Apice;
    }
    /*Tạo một khung chứa*/
    .khungchua {
        min-height: 100vh;
        height: auto;
        background-color: #FFF5;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
    }
    /*Chỉnh giao diện table*/
    table{
        width: 82vw;
        backdrop-filter: blur(3px);
        border-radius: .8rem;
        background-color: #FFF5;
        box-shadow: 0 .4rem .8rem #0005;
        overflow: hidden;
        border: 0.2px
    }
    /*Chỉnh giao diện thead trong table*/
    table thead{
        width: 100%;
        height: 10%;
        background-color:#d5d1defe;
        padding: .8rem 1rem;
    }
    /*Chỉnh giao diện tbody trong table*/
    table tbody{
        width: 95%;
        max-height: 89%;
        background-color: #fffb;
        overflow: auto;
    }
    /*Phân loại màu cho bản ghi cho hàng chẵn*/
    table tbody tr:nth-child(even){
        background-color:#0000000b;
    }
    /*Tạo hover khi trỏ vào bản ghi của tbody*/
    table tbody tr:hover{
        background-color: #fff6;
    }
    /*Chỉnh button Edit*/
    .btn-edit {
        background-color: #41B06E;
        color: #E9EFEC;
    }

        .btn-edit:hover {
            background-color: #8DECB4;
            transform: scale(1.05);
        }
    /*Chỉnh button Details*/
    .btn-details {
        background-color: #41B06E;
        color: #E9EFEC;
    }

        .btn-details:hover {
            background-color: #8DECB4;
            transform: scale(1.05);
        }
    /*Chỉnh button Delete*/
    .btn-delete {
        background-color: #41B06E;
        color: #E9EFEC;
    }

        .btn-delete:hover {
            transform: scale(1.05);
            background-color: red;
        }
    /*Chỉnh button Create*/
    .btn-create {
        background-color: #41B06E;
        color: #E9EFEC;
    }

        .btn-create:hover {
            background-color: #8DECB4;
            color: black;
            transform: scale(1.05);
        }
    /*Chỉnh button Excel*/
    .btn-excel {
        background-color: #41B06E;
        color: #E9EFEC;
    }

        .btn-excel:hover {
            background-color: #8DECB4;
            color: black;
            transform: scale(1.05);
        }   
    .dt-buttons .dt-button.btn-primary{
    border-color: unset;
    }
</style>

<div class="khungchua">
<h1 style="text-align:center">Đối tượng tham gia(@Model.Count())</h1>
    <table class="table" id="views">
    <thead>
        <tr nowrap>
            <th>
                Mã loại tham gia
            </th>
            <th>
                Loại tham gia
            </th>
            <th>
                Id Người
            </th>
            <th nowrap>
                Phân loại
            </th>
            <th>
                Vai trò    
            </th>
            <th style="text-align: center" class="nosort">Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiThamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiThamGiaNavigation.LoaiThamGia)
            </td>
            <td>
                        <strong>@Html.DisplayFor(modelItem => item.IdNguoiNavigation.name)</strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhanLoaiNavigation.PhanLoaiDoiNguNguoiHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVaiTroNavigation.VaiTroThamGia)
            </td>
            <td nowrap style="text-align: right">
                    <a asp-action="Edit" asp-route-id="@item.IdDoiTuongThamGia" class="btn btn-edit"><i class='bx bx-edit-alt'></i> Chỉnh sửa</a>
                    <a asp-action="Details" asp-route-id="@item.IdDoiTuongThamGia" class="btn btn-details"><i class='bx bx-info-circle'></i> Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.IdDoiTuongThamGia" class="btn btn-delete"><i class='bx bx-trash-alt'></i> Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/r-3.0.3/datatables.min.js"></script>
    <script>
        //Datatable trong datatable.net. Tìm hiểu thêm thông tin: https://datatables.net/manual/
        var table = new DataTable("#views", {
            columnDefs: [
                {
                    orderable: false,
                    targets: 5
                },
            ],
            language: {
                //Điều chỉnh phần hiển thị label của thanh tìm kiếm - Xem thêm thông tin: https://datatables.net/reference/option/language.search
                    search: "",
                    searchPlaceholder:"Tìm kiếm",
                //Điều chỉnh phần hiển thị thông tin của table - Xem thêm thông tin: https://datatables.net/reference/option/language.info
                info: "Tổng cộng _TOTAL_ bản ghi",
            },
            createdRow: (row, data, index) => {
            },
            layout: {//Layout: https://datatables.net/examples/layout/index.html
                topStart: {
                    buttons: [//extension buttons: https://datatables.net/extensions/buttons/config
                        {
                            className: 'btn btn-primary btn-create', //Thêm class cho button
                            text: 'Thêm đối tượng tham gia',
                            action: function (e, dt, node, config) {//Hành động của button
                                window.location.href = '@Url.Action("Create")';
                            }
                        },
                        {
                            extend: "excel",
                            className: 'btn btn-primary btn-excel', //Thêm class cho button
                            text: 'Xuất excel',
                            exportOptions: {
                                columns: function(idx, data, node) {
                                    if (node.classList.contains("_nonorder")) return false;
                                    return true;
                                },
                            }
                        }
                    ]
                }
            }
        });
    </script>
}