@model C500Hemis.Models.TbCoCauToChuc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbCoCauToChuc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongBanDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongBanDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongBanDonViCha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongBanDonViCha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhongBanDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhongBanDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhThanhLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayRaQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayRaQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiPhongBanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiPhongBanNavigation.IdLoaiPhongBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrangThaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangThaiNavigation.IdTrangThaiCoSoGd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCoCauToChuc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
