@model IEnumerable<C500Hemis.Models.TbCoCauToChuc>

@{
    ViewData["Title"] = "Index";
}
@section Heads {
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}
@section styles{
    <link rel="stylesheet" href="~/css/index.css" />
}
<h1>Cơ cấu tổ chức (@Model.Count())</h1>

<p>
    <a asp-action="Create" class="btn-create"><i class="fas fa-plus"></i> Tạo mới</a>
</p>
<div class="table">
<table id="myTable" style="width:100%" border="2px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCoCauToChuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongBanDonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongBanDonViCha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenPhongBanDonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayRaQuyetDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiPhongBanNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrangThaiNavigation)
            </th>
            <th>THÊM</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="can-giua">
                @Html.DisplayFor(modelItem => item.IdCoCauToChuc)
            </td>
            <td class="can-giua">
                @Html.DisplayFor(modelItem => item.MaPhongBanDonVi)
            </td>
            <td class="can-giua">
                @Html.DisplayFor(modelItem => item.MaPhongBanDonViCha)
            </td>
            <td class="can-giua">
                @Html.DisplayFor(modelItem => item.TenPhongBanDonVi)
            </td>
            <td class="can-giua">
                @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLap)
            </td>
            <td class="can-giua">
                @Html.DisplayFor(modelItem => item.NgayRaQuyetDinh)
            </td>
            <td class="can-giua">
                    @Html.DisplayFor(modelItem => item.IdLoaiPhongBanNavigation.LoaiPhongBan)
                </td>
                <td class="can-giua">
                    @Html.DisplayFor(modelItem => item.IdTrangThaiNavigation.TrangThaiCoSoGd)
                </td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCoCauToChuc"> <i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdCoCauToChuc">  <i class="fa fa-info-circle"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCoCauToChuc"> <i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@section Scripts {
    <!-- Nhúng thư viện pdfMake để tạo và xuất tệp PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <!-- Nhúng thư viện DataTables để tạo bảng dữ liệu với nhiều tính năng -->
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/datatables.min.js"></script>

    <script>
        // Khởi tạo DataTable cho bảng có ID là #myTable
        var table = new DataTable("#myTable", {
            language: {
            // thanh tìm kiếm
                search: "<b><i class='fas fa-search'></i> Tìm kiếm:</b>",
            // số bản ghi   
                info: "<b>Hiển thị _TOTAL_ trong _MAX_ bản ghi</b>",
                infoFiltered: "<b>(được lọc từ _MAX_ bản ghi tổng)</b>",
                searchPlaceholder: "Nhập nội dung cần tìm..",
                lengthMenu: "<b>Hiển thị _MENU_ bản ghi trên mỗi trang</b>",
                paginate: {
                    first: "<b>Đầu</b>",
                    last: "<b>Cuối</b>",
                    next: "<b>Tiếp</b>",
                    previous: "<b>Trước</b>"
                }
            },
            
            createdRow: (row, data, index) => {
                // Callback khi một hàng mới được tạo (hiện tại không làm gì)
            },
        });
        //HTMLDOM Element: https://developer.mozilla.org/en-US/docs/Web/API/Element
        //Datatables API: https://datatables.net/reference/api/table().header()
        // Đoạn mã này tạo ra một bảng có thể tìm kiếm, sắp xếp và cho phép xuất dữ liệu ra PDF
    </script>
}
