@model IEnumerable<C500Hemis.Models.TbKhoiNganhDaoTao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhoiNganhDaoTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhoiNganhDaoTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKhoiNganhDaoTao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKhoiNganhDaoTao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKhoiNganhDaoTao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
