@model IEnumerable<C500Hemis.Models.TbThongTinViPham>

@{
    ViewData["Title"] = "Thông tin vi phạm";
}
@section Heads {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
     <style>


        /* Tạo hình nền cố định cho trang */
        body::before {
            content: ''; /* Không có nội dung, chỉ tạo lớp nền */
            position: fixed; /* Giữ vị trí cố định trên trang */
            top: 0; /* Đặt ở phía trên cùng */
            left: 0; /* Đặt ở bên trái */
            width: 100%; /* Chiều rộng 100% */
            height: 100%; /* Chiều cao 100% */
            background-image: url('/images/son.jpg'); /* Hình ảnh nền */
            background-size: cover; /* Phủ kín hình ảnh */
            background-position: center; /* Căn giữa hình ảnh */
            background-attachment: fixed; /* Hình ảnh không di chuyển khi cuộn */
            z-index: -1; /* Đưa lớp nền xuống dưới cùng */
        }

        /* Định dạng cho bảng */
        table {
            width: 100%; /* Chiều rộng bảng 100% */
            border-collapse: collapse; /* Xóa khoảng cách giữa các ô */
            background-color: #f1f3f3; /* Màu nền bảng */
            margin-top: 5px; /* Khoảng cách từ trên xuống */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        }

            /* Định dạng cho ô bảng */
            table td {
                padding: 12px; /* Khoảng cách giữa nội dung và viền ô */
                text-align: center; /* Căn giữa nội dung */
                border-bottom: 5px solid black; /* Viền dưới cho ô */
            }

            /* Định dạng cho tiêu đề bảng */
            table th {
                background-color: #AAAAAA; /* Màu nền cho tiêu đề */
                color: black; /* Màu chữ */
                font-size: 16px; /* Kích thước chữ */
                padding: 12px; /* Khoảng cách giữa nội dung và viền tiêu đề */
                text-align: center; /* Căn giữa nội dung tiêu đề */
                border-bottom: 5px solid black; /* Viền dưới cho tiêu đề */
            }

        /* Hiệu ứng khi di chuột qua ô bảng */
        .value:hover {
            background-color: #D3D3D3; /* Thay đổi màu nền khi hover */
        }

        /* Định dạng cho nút "SỬA" */
        .button_a_edit {
            background-color: #00bb00; /* Màu nền xanh lá */
            border-style: solid; /* Kiểu viền */
            border-width: 0.5px; /* Độ dày viền */
            font-size: 14px; /* Kích thước chữ */
            display: inline-block; /* Hiển thị inline block */
            padding: 6px 18px; /* Khoảng cách bên trong nút */
            text-decoration: none; /* Không gạch chân */
            color: black; /* Màu chữ */
            border-radius: 5px; /* Bo góc nút */
            font-weight: bold; /* Chữ đậm */
            text-align: center; /* Căn giữa nội dung nút */
            margin: 2px; /* Khoảng cách giữa các nút */
        }

        /* Định dạng cho nút "XÓA" */
        .button_a_del {
            background-color: #f10000; /* Màu nền đỏ */
            border-style: solid; /* Kiểu viền */
            border-width: 0.5px; /* Độ dày viền */
            font-size: 14px; /* Kích thước chữ */
            display: inline-block; /* Hiển thị inline block */
            padding: 6px 18px; /* Khoảng cách bên trong nút */
            text-decoration: none; /* Không gạch chân */
            color: black; /* Màu chữ */
            border-radius: 5px; /* Bo góc nút */
            font-weight: bold; /* Chữ đậm */
            text-align: center; /* Căn giữa nội dung nút */
            margin: 2px; /* Khoảng cách giữa các nút */
        }

        /* Định dạng cho nút "TẠO" */
        .create {
            background-color: #0d6efd; /* Màu nền xanh dương */
            border-style: solid; /* Kiểu viền */
            border-width: 0.5px; /* Độ dày viền */
            border-color: #0d6efd; /* Màu viền */
            font-size: 14px; /* Kích thước chữ */
            display: inline-block; /* Hiển thị inline block */
            padding: 8px 12px; /* Khoảng cách bên trong nút */
            text-decoration: none; /* Không gạch chân */
            color: white; /* Màu chữ trắng */
            border-radius: 5px; /* Bo góc nút */
            font-weight: bold; /* Chữ đậm */
            text-align: center; /* Căn giữa nội dung nút */
            margin: 10px 5px 5px 0px; /* Khoảng cách giữa các nút */
        }

        /* Hiệu ứng khi di chuột vào nút "SỬA" */
        .button_a_edit:hover {
            background-color: #009b00; /* Màu xanh đậm hơn khi hover */
            color: white; /* Đổi màu chữ thành trắng */
        }

        /* Hiệu ứng khi di chuột vào nút "XÓA" */
        .button_a_del:hover {
            background-color: #da0000; /* Màu đỏ đậm hơn khi hover */
            color: white; /* Đổi màu chữ thành trắng */
        }

        /* Định dạng cho khối chứa các nút sửa xóa */
        .edit_del {
            width: 100%; /* Chiều rộng khối chứa 100% */
            display: flex; /* Sử dụng Flexbox */
            justify-content: center; /* Căn giữa các nút theo chiều ngang */
            align-items: center; /* Căn giữa các nút theo chiều dọc */
        }

        /* Hiệu ứng khi di chuột vào nút "TẠO" */
        .create:hover {
            background-color: #0b5ed7; /* Màu xanh dương đậm hơn khi hover */
            color: white; /* Đổi màu chữ thành trắng */
        }

        /* Định dạng cho khối chứa */
        .contain {
            margin-bottom: 100px; /* Khoảng cách dưới cho khối chứa */
        }

        /* Căn giữa tiêu đề bảng */
        #view_table th {
            text-align: center; /* Căn giữa nội dung tiêu đề bảng */
        }
    </style>
}

<h1 style="text-align: center; text-shadow: 3px 3px 3px #ababab;">THÔNG TIN VI PHẠM</h1>

<div class="contain">
 
    <table class="table" id="view_table">
        <thead style="background-color: #b4b4b4;">

            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.IdThongTinViPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdHocVien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThoiGianViPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoiDungViPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HinhThucXuLy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLoaiViPham)
                </th>
               <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {   // 2 dòng này dùng khi kích chuột vào hàng dữ liệu trong bảng sẽ chuyển sang trang detail
                // Kết hợp với hiệu ứng hover khi di chuột
                <tr class="value" style="text-align: center; cursor: pointer;"
                    onclick="window.location.href='@Url.Action("Details", new { id = item.IdThongTinViPham })'">
                    <td>
                        <div class="edit_del">
                            <a class="button_a_edit" asp-action="Edit" asp-route-id="@item.IdThongTinViPham">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a class="button_a_del" asp-action="Delete" asp-route-id="@item.IdThongTinViPham">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdThongTinViPham)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdNguoiNavigation.Ho) @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdNguoiNavigation.Ten)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ThoiGianViPham)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NoiDungViPham)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.HinhThucXuLy)
                    </td>
                    <td class="text-center">
                       
                        @Html.DisplayFor(modelItem => item.IdLoaiViPhamNavigation.LoaiViPham)
                    </td>
                   <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/datatables.min.js"></script>
    <script>
        //Datatable trong datatable.net. Tìm hiểu thêm thông tin: https://datatables.net/manual/
        var table = new DataTable("#view_table", {
            language: {
                //Điều chỉnh phần hiển thị label của thanh tìm kiếm - Xem thêm thông tin: https://datatables.net/reference/option/language.search
                search: "Tìm kiếm",
                //Điều chỉnh phần hiển thị thông tin của table - Xem thêm thông tin: https://datatables.net/reference/option/language.info
                info: "Hiển thị _MAX_ trong _TOTAL_ bản ghi",
            },
            createdRow: (row, data, index) => {
            },
            layout: {//Layout: https://datatables.net/examples/layout/index.html
                topStart: {
                    buttons: [//extension buttons: https://datatables.net/extensions/buttons/config
                        {
                            className: 'btn btn-primary', //Thêm class cho button
                            text: '<i class="fa-solid fa-circle-plus"></i>',
                            action: function (e, dt, node, config) {//Hành động của button
                                window.location.href = '@Url.Action("Create")';
                            }
                        }
                    ]
                }
            }
        });
        //HTMLDOM Element: https://developer.mozilla.org/en-US/docs/Web/API/Element
        //Datatables API: https://datatables.net/reference/api/table().header()
        var row = table.table().header().lastElementChild;
        row.lastElementChild.remove();
        row.appendChild(document.createElement('th'));
    </script>
}