@model IEnumerable<C500Hemis.Models.TbLinhVucNghienCuuCuaCanBo>

@{
    ViewData["Title"] = "Lĩnh vực nghiên cứu của cán bộ";
}

<h1 class="text-center my-4">Lĩnh vực nghiên cứu của cán bộ</h1>

<div class="text-right mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Thêm mới
    </a>
</div>

<table class="table table-striped table-hover">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.LaLinhVucNghienCuuChuyenSau)</th>
            <th>@Html.DisplayNameFor(model => model.SoNamNghienCuu)</th>
            <th>@Html.DisplayNameFor(model => model.IdCanBoNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdLinhVucNghienCuuNavigation)</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LaLinhVucNghienCuuChuyenSau)</td>
                <td>@Html.DisplayFor(modelItem => item.SoNamNghienCuu)</td>
                <td>@Html.DisplayFor(modelItem => item.IdCanBoNavigation.IdCanBo)</td>
                <td>@Html.DisplayFor(modelItem => item.IdLinhVucNghienCuuNavigation.IdLinhVucNghienCuu)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdLinhVucNghienCuuCuaCanBo" class="btn btn-sm btn-warning mx-1">
                        <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdLinhVucNghienCuuCuaCanBo" class="btn btn-sm btn-info mx-1">
                        <i class="fas fa-info-circle"></i> Chi tiết
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdLinhVucNghienCuuCuaCanBo" class="btn btn-sm btn-danger mx-1">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>