@model C500Hemis.Models.TbThongTinHopTac

@{
    ViewData["Title"] = "Xóa";
} 
@section Styles {
<style>
    
    table {
        width: 100%; /* Chiều rộng bảng 100% */
        border-collapse: collapse; /* Gộp đường viền ô */
    }

    th, td {
        border: 1px solid #000; /* Đường viền đen cho các ô */
        text-align: left;
        padding: 8px; /* Khoảng cách giữa nội dung và đường viền ô */
    }

    th {
        font-weight: bold; /* Chữ đậm cho tiêu đề */
    }

    tr:hover {
        background-color: transparent; /* Không có màu nền khi di chuột qua hàng */
    }
</style>
}


<h3>Bạn có chắc chắn muốn xóa?</h3>



<div class="container" >
    <h4 style="text-align:center">Thông tin hợp tác với tổ chức </h4>
    <hr />
    <table>

        <tr>
            <th>Mã hợp tác</th>
            <td>@Html.DisplayFor(model => model.IdToChucHopTacNavigation.IdToChucHopTacQuocTe)</td>
        </tr>
        <tr>
            <th> Thời gian hợp tác từ </th>
            <td>@Html.DisplayFor(model => model.ThoiGianHopTacTu)</td>
        </tr>
        <tr>
            <th>  Thời gian hợp tác đến  </th>
            <td>@Html.DisplayFor(model => model.ThoiGianHopTacDen)</td>
        </tr>
        <tr>
            <th>Tên thỏa thuận</th>
            <td>@Html.DisplayFor(model => model.TenThoaThuan)</td>
        </tr>
        <tr>
            <th>Thông tin liên hệ đối tác</th>
            <td>@Html.DisplayFor(model => model.ThongTinLienHeDoiTac)</td>
        </tr>
        <tr>
            <th>Mục tiêu</th>
            <td>@Html.DisplayFor(model => model.MucTieu)</td>
        </tr>
        <tr>
            <th>Đơn vị triển khai</th>
            <td>@Html.DisplayFor(model => model.DonViTrienKhai)</td>
        </tr>
        <tr>
            <th> Hình thức hợp tác</th>
            <td>@Html.DisplayFor(model => model.IdHinhThucHopTacNavigation.IdHinhThucHopTac)</td>
        </tr>
        <tr>
            <th>Sản phẩm chính</th>
            <td>@Html.DisplayFor(model => model.SanPhamChinh)</td>
        </tr>



    </table>


    <form asp-action="Delete">
        <input type="hidden" asp-for="IdThongTinHopTac" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
