@model IEnumerable<C500Hemis.Models.TbThongTinHopTac>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap"
          rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-image:url('/images/hoptac.jpg'); /*hình nền*/
            margin-bottom:3cm;
        }

        table {
            border-collapse: collapse;
            font-size: 15px;
        }

        .right {
            position: absolute;
            right: 4cm;
            width: 7px;
            padding: 7px;
        }

        .left {

            position: absolute; /*vị trí*/
            left: 0;
            padding:10px;
        }

        .tieudebang {
            width: auto;
            text-align: center;
            background-color: rgb(124, 182, 191);
        }

        .tieude {
            color: rgb(4, 51, 9);
            font-size: 80px;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 0.5cm;
        }

        #customers tr:nth-child(even) {
            background-color:white;
        }

        #customers tr:hover {
            background-color:greenyellow;
        }

        .nut {
            background-color: rgb(200, 223, 227);
            border-style: solid;
            border-color: rgb(103 177 189);
            font-size: 15px;
        }

        .nut:hover {
                background-color: rgb(103 177 189);
                color: aliceblue;
            }

        .nutthem {
            background-color: rgb(200, 223, 227);
            border-style: solid;
            border-color: rgb(103 177 189);
            font-size: 30px;
            border-radius: 45px;
        }

            .nutthem:hover {
                background-color: rgb(103 177 189);
                color: aliceblue;
            }

        .table-container-fluid {
            white-space: nowrap; /*Không cho phép xuống dòng các cột */
            margin-bottom: 0px;
            margin: 0 auto ;
        }

        th,td {
            border: 2px solid rgb(17 104 118);
            text-align: center;
            padding: 10px;
        }

        .container {
            width: 1400px !important;
            margin-right: 3% !important;
            margin-left: 3% !important;
            
        }

        .bang {
            max-height: 500px; /* Chiều cao cố định */
            overflow-y: auto; /* Kích hoạt thanh cuộn dọc */
            width: 1400px;
        }
        /* Định dạng cho phần chứa biểu mẫu */
        .search-container {
            display: flex; /* Sử dụng Flexbox để căn chỉnh nội dung */
            justify-content: center; /* Căn giữa nội dung */
            margin: 20px 0; /* Thêm khoảng cách phía trên và dưới */
        }

            /* Định dạng cho ô nhập */
            .search-container input[type="text"] {
                padding: 10px; /* Thêm khoảng cách bên trong */
                border: 1px solid #44a9b3; /* Đường viền mờ */
                border-radius: 15px; /* Bo góc cho ô nhập */
                width: 200px; /* Chiều rộng của ô nhập */
                height: 30px; /* Chiều dai của ô nhập */
                margin-right: 10px; /* Khoảng cách giữa ô nhập và nút */
                font-size: 16px; /* Kích thước chữ */
            }
        /*thay đổi giao diện của trường nhập liệu khi người dùng nhấp vào nó*/
        input[type="text"]:focus {
            outline: none; /* Xóa bỏ viền mặc định */
            border: 2px solid rgb(124, 182, 191); /* Thêm viền đỏ khi focus */
        }

        /* Định dạng cho nút tìm kiếm */
        .search-container button {
            background-color: rgb(0 208 239);
            color: white; /* Màu chữ */
            border: none; /* Không có đường viền */
            border-radius: 20px; /* Bo góc cho nút */
            font-size: 16px; /* Kích thước chữ */
            width: 30px; /* Chiều rộng của nút */
            height: 30px; /* Chiều dai của nút */
            cursor: pointer; /* Hiển thị con trỏ khi di chuột qua nút */
            transition: background-color 0.3s; /* Hiệu ứng chuyển màu khi di chuột */
        }

            /* Hiệu ứng khi di chuột qua nút */
            .search-container button:hover {
                background-color: rgb(0 155 178); /* Màu nền tối hơn khi di chuột */
            }

        .div-container {
            margin-bottom: 15px; /* Khoảng cách dưới cho mỗi div */
        }

    </style>
</head>


<body>
    <div class="container">
    <div style="width: 1400px;">
        <h1 class="tieude" style="font-size:60px; text-shadow: 2px 2px 5px rgb(219, 11, 11); ">Thông tin tổ chức hợp tác </h1>
    </div>

    <div class="row div-container " style="width: 1400px; padding:15px">
            <div class="col-lg-4 search-container">
                <form class="left" method="get" action="@Url.Action("Index")">
                    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Tìm kiếm" />
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        <div class="col-lg-6 "></div>
        
            <div class="col-lg-2 right ">

                <a asp-action="Create" class="btn btn-sm nutthem mx-1 " style="padding: 0 10px 0 10px; text-align:center">
                    <i class="fas fa-plus"></i>

                </a>
            </div>
    </div>

    <div class="table-container-fluid bang" style="position:relative; background-color:lavender">
        <table class="table table-bordered " id="customers">
            <thead>
                <tr class="tieudebang" style="position:sticky; top: 0; z-index: 10; ">
                    <th style="position:sticky; left: 0;  z-index: 20; background-color: rgb(38 102 112); color: #3dc2c4;">Tùy Chọn</th>

                    <th >

                        Mã hợp tác
                    </th>
                    <th>
                        Thời gian họp tác từ
                    </th>
                    <th>
                        Thời gian hợp tác đến
                    </th>
                    <th>
                        Tên thỏa thuận
                    </th>
                    <th>
                        Thông tin liên hệ đối tác
                    </th>
                    <th>
                        Mục tiêu
                    </th>
                    <th>
                        Đơn vị triển khai
                    </th>
                    <th>
                        Hình thức hợp tác
                    </th>
                    <th>
                        Sản phẩm chính
                    </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
                        <td style="position:sticky; left:0; background-color: rgb(124, 182, 191);">

                            <div class="btn-group">

                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdThongTinHopTac"><i class="fa fa-pencil-alt"></i>Sửa</a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdThongTinHopTac"><i class="fa fa-info-circle"></i>Chi tiết</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdThongTinHopTac"><i class="fa fa-trash"></i>Xoá</a>

                            </div>
                        </td>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.IdToChucHopTacNavigation.IdToChucHopTacQuocTe)</b>
                        </td>
            <td>
               
                        @String.Format("{0:dd/MM/yyyy}", item.ThoiGianHopTacTu)
            </td>
            <td>
                        @String.Format("{0:dd/MM/yyyy}", item.ThoiGianHopTacDen)
                   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenThoaThuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinLienHeDoiTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucTieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTrienKhai)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdHinhThucHopTacNavigation.IdHinhThucHopTac)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SanPhamChinh)
            </td>
                      
        </tr>
            }
        </tbody>
    </table>
    </div>
  </div>
</body>
</html>
@section Scripts {
    <script>
        DataTable.defaults.layout = {
            topStart: 'search',
            topEnd: null,
            bottomStart: null,
            bottomEnd: null,
            bottom: 'paging'
        };
        new DataTable('#ntable', {
            searching: true, // Mặc định là true, set false để tắt chức năng search
            processing: true,
            info: false, // Tắt thông tin về table VD: Showing 1 to 14 of 14 entries
            paging: true, // Bật chức năng phân trang
            lengthMenu: [10, 20], // Số bản ghi hiển thị trên một trang
            layout: {
                topStart: {
                    search: {
                        placeholder: 'Nhập thông tin tìm kiếm'
                    }
                }

            },
            language: {
                processing: "Message khi đang tải dữ liệu",
                search: "Tìm kiếm",
                lengthMenu: "Điều chỉnh số lượng bản ghi trên 1 trang _MENU_ ",
                info: "Bản ghi từ _START_ đến _END_ Tổng công _TOTAL_ bản ghi",
                infoEmpty: "Khi không có dữ liệu, Hiển thị 0 bản ghi trong 0 tổng cộng 0 ",
                infoFiltered: "(Message bổ sung cho info khi không search đc record nào _MAX_)",
                infoPostFix: "Alo Alo", // Cái này khi thêm vào nó sẽ đứng sau info
                loadingRecords: "",
                zeroRecords: "Khi tìm kiếm không match với record nào",
                emptyTable: "Không có dữ liệu",
                paginate: {
                    first: "Trang đầu",
                    previous: "Trang trước",
                    next: "Trang sau",
                    last: "Trang cuối"
                },
                aria: {
                    sortAscending: ": Message khi đang sắp xếp theo column",
                    sortDescending: ": Message khi đang sắp xếp theo column",
                }
            },
        });
    </script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'H:i d/m/Y '
            });
        });
    </script>
}
