@model IEnumerable<C500Hemis.Models.TbThongTinKiemDinhCuaChuongTrinh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapChungNhanKiemDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiHanKiemDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKetQuaKiemDinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdToChucKiemDinhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapChungNhanKiemDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiHanKiemDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKetQuaKiemDinhNavigation.IdKetQuaKiemDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdToChucKiemDinhNavigation.IdToChucKiemDinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdThongTinKiemDinhCuaChuongTrinh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdThongTinKiemDinhCuaChuongTrinh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdThongTinKiemDinhCuaChuongTrinh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
