@model C500Hemis.Models.TbLinhVucNghienCuuCuaCanBo

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa dữ liệu</h1>

<h3>Bạn có chắc chắn muốn xóa thông tin này không?</h3>
<div>
    <h4>Lĩnh vực nghiên cứu của cán bộ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaLinhVucNghienCuuChuyenSau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaLinhVucNghienCuuChuyenSau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNamNghienCuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNamNghienCuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinhVucNghienCuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinhVucNghienCuuNavigation.IdLinhVucNghienCuu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLinhVucNghienCuuCuaCanBo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay về trang lĩnh vực nghiên cứu cán bộ</a>
    </form>
</div>
