@model C500Hemis.Models.TbDienBienLuong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDienBienLuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThangNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThangNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBacLuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBacLuongNavigation.IdBacLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHeSoLuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHeSoLuongNavigation.IdHeSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDienBienLuong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
