@model C500Hemis.Models.TbToChucHopTacDoanhNghiep

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbToChucHopTacDoanhNghiep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaToChucHopTacDoanhNghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaToChucHopTacDoanhNghiep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenToChucHopTacDoanhNghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenToChucHopTacDoanhNghiep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungHopTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungHopTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKyKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKyKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQuaHopTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQuaHopTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriGiaoDichCuaThiTruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriGiaoDichCuaThiTruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiDeAnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiDeAnNavigation.IdLoaiDeAnChuongTrinh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdToChucHopTacDoanhNghiep" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
