@model C500Hemis.Models.TbToChucHopTacDoanhNghiep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbToChucHopTacDoanhNghiep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaToChucHopTacDoanhNghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaToChucHopTacDoanhNghiep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenToChucHopTacDoanhNghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenToChucHopTacDoanhNghiep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungHopTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungHopTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKyKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKyKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQuaHopTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQuaHopTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriGiaoDichCuaThiTruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriGiaoDichCuaThiTruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiDeAnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiDeAnNavigation.IdLoaiDeAnChuongTrinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdToChucHopTacDoanhNghiep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
