@model IEnumerable<C500Hemis.Models.TbToChucHopTacDoanhNghiep>

@{
    ViewData["Title"] = "Index";
}

<h1>Tổ chức hợp tác doanh nghiệp</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaToChucHopTacDoanhNghiep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenToChucHopTacDoanhNghiep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDungHopTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKyKet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetQuaHopTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTriGiaoDichCuaThiTruong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiDeAnNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaToChucHopTacDoanhNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenToChucHopTacDoanhNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDungHopTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKyKet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KetQuaHopTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTriGiaoDichCuaThiTruong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiDeAnNavigation.IdLoaiDeAnChuongTrinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdToChucHopTacDoanhNghiep">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdToChucHopTacDoanhNghiep">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdToChucHopTacDoanhNghiep">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
