@model C500Hemis.Models.TbHocVien

@{
    ViewData["Title"] = "Details";
}
<style>
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    h4 {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-container {
        padding: 30px;
        margin: 0 auto;
        width: 70%;
    }

    dl.row dt, dl.row dd {
        margin-bottom: 10px;
    }

    dt {
        font-weight: bold;
        border: 2px solid #dee2e6;
        border-radius: 8px;
        padding: 10px;
    }

    dd {
        margin-bottom: 10px;
        border: 2px solid #dee2e6;
        border-radius: 8px;
        padding: 10px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #dee2e6;
    }
    form{
        padding-bottom: 50px;
    }
</style>
<h1>Details</h1>

<div>
    <h4>TbHocVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHocVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHocVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoSoBaoHiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoSoBaoHiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHuyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHuyenNavigation.IdHuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiKhuyetTatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiKhuyetTatNavigation.IdLoaiKhuyetTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguoiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguoiNavigation.IdNguoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhNavigation.IdTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdXaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdXaNavigation.IdXa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHocVien"><input type="submit" value="Chỉnh sửa" class="btn btn-primary" /></a> |
    <a asp-action="Index"><input type="submit" value="Về trang chủ" class="btn btn-primary" /></a>
</div>
