@model IEnumerable<C500Hemis.Models.TbHocVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHocVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoSoBaoHiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QueQuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHuyenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiKhuyetTatNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdXaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHocVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoSoBaoHiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHuyenNavigation.IdHuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiKhuyetTatNavigation.IdLoaiKhuyetTat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiNavigation.IdNguoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTinhNavigation.IdTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdXaNavigation.IdXa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHocVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHocVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHocVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
