@model C500Hemis.Models.TbHoatDongBaoVeMoiTruong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbHoatDongBaoVeMoiTruong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhiemVuBvmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhiemVuBvmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanChuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanChuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongKinhPhiCuaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongKinhPhiCuaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGiaKetQuaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGiaKetQuaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPhamChinhCuaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPhamChinhCuaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViThucHienLuuTruSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViThucHienLuuTruSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCapQuanLyNhiemVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCapQuanLyNhiemVuNavigation.IdPhanCapNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoQuanChuQuanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoQuanChuQuanNavigation.IdCoQuanChuQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiNhiemVuBaoVeMoiTruongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiNhiemVuBaoVeMoiTruongNavigation.IdLoaiNhiemVuBaoVeMoiTruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguonKinhPhiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguonKinhPhiNavigation.IdNguonKinhPhi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNhiemVuKhcnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNhiemVuKhcnNavigation.IdNhiemVuKhcn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrangNhiemVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrangNhiemVuNavigation.IdTinhTrangNhiemVu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHoatDongBaoVeMoiTruong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
