@model IEnumerable<C500Hemis.Models.TbTaiSanDonVi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiTaiSan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiTaiSan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamTaiChinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiTaiSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiTaiSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamTaiChinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTaiSanDonVi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTaiSanDonVi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTaiSanDonVi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
