@model C500Hemis.Models.TbCanBoHuongDanThanhCongSinhVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbCanBoHuongDanThanhCongSinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrachNhiemHuongDan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrachNhiemHuongDan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCanBoHuongDanThanhCongSinhVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
