@model C500Hemis.Models.TbLuuHocSinhSinhVienNn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbLuuHocSinhSinhVienNn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguoiHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguoiHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiLuuHocSinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiLuuHocSinhNavigation.IdLoaiLuuHocSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguonKinhPhiLuuHocSinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguonKinhPhiLuuHocSinhNavigation.IdNguonKinhPhiChoLuuHocSinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLuuHocSinhSinhVienNn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
