@model IEnumerable<C500Hemis.Models.TbLuuHocSinhSinhVienNn>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiLuuHocSinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguonKinhPhiLuuHocSinhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiLuuHocSinhNavigation.IdLoaiLuuHocSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguonKinhPhiLuuHocSinhNavigation.IdNguonKinhPhiChoLuuHocSinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLuuHocSinhSinhVienNn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLuuHocSinhSinhVienNn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLuuHocSinhSinhVienNn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
