@model IEnumerable<C500Hemis.Models.TbNguoiHocVayTinDung>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">

    <!-- FixedColumns CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.bootstrap5.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">



    <style>
        body {
            font-family: 'Roboto', 'Arial', sans-serif;
            text-align: left;
            background-color: #fff;
            overflow-x: auto;
        }

        .table {
            width: 90%;
            border-collapse: collapse;
        }

            .table th {
                color: white;
                background-color: #176B87;
                padding: 10px;
                border: 1px solid #ddd;
                text-align: center;
                white-space: nowrap;
            }

            .table td {
                padding: 10px;
                border: 1px solid #ddd;
                text-align: center;
            }



        a {
            text-decoration: none;
            color: #007bff;
        }

        .bang tbody tr:hover {
            background-color: #EEF5FF;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .btn-primary {
            background-color: #007BFF;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .btn-edit {
            background-color: #F7F0C6; /* Màu cho Chỉnh sửa */
        }

            .btn-edit:hover {
                background-color: #F4F2EF;
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

        .btn-details {
            background-color: #C2C8C5; /* Màu  cho Chi tiết */
        }

            .btn-details:hover {
                background-color: #DDDDDA;
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

        .btn-delete {
            background-color: #CD4662; /* Màu  cho Xóa bỏ */
        }

            .btn-delete:hover {
                background-color: #F4DBDB;
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
            }

        .btn-create {
            color: aliceblue;
            background-color: #5D7599;
        }

            .btn-create:hover {
                color: aliceblue;
                font-weight: bold; /* Chữ sẽ đậm hơn khi hover */
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Thêm hiệu ứng bóng đổ khi hover */
                transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
                background-color: #5D7599;
            }

            /* Khi nhấn nút */
            .btn-create:active {
                font-weight: bolder; /* Chữ sẽ đậm hơn khi nhấn */
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Thay đổi bóng đổ khi nhấn */
            }

        .bang {
            max-height: 500px; /* Chiều cao cố định */
            width: 1110px;
        }

        .main-text {
            width: 1110px; /*1140*/
            text-align: center;
            background-color: #176B87;
            color: #fff;
            font-weight: bold;
            padding: 10px 15px;
        }

        .sorting.dtfc-fixed-left {
            background-color: #176B87 !important;
            text-align: center;
        }
    </style>

</head>
<div class="wrapper">
    <h1 class="main-text"> NGƯỜI HỌC VAY TÍN DỤNG </h1>

    <p style="text-align:center">
        <a asp-action="Create" style="margin-left:6%;" class="btn btn-create">
            Tạo Mới  <i class="fa-solid fa-plus"></i>
        </a>
    </p>


    <table class="table" id="Tablelinh">
        <thead>
            <tr>
                <th>  STT </th>
                <th>Chức năng</th>
                <th>
                    @Html.DisplayNameFor(model => model.SoTienDuocVay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenToChucTinDung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayVay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThoiHanVay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdHocVienNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TinhTrangVayNavigation)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td style="white-space: nowrap;">
                        <a asp-action="Edit" asp-route-id="@item.IdNguoiHocVayTinDung" class="btn btn-edit" data-bs-toggle="tooltip" title="Chỉnh sửa">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdNguoiHocVayTinDung" class="btn btn-details" data-bs-toggle="tooltip" title="Chi tiết">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdNguoiHocVayTinDung" class="btn btn-delete" data-bs-toggle="tooltip" title="Xóa">
                            <i class="fa-solid fa-trash"></i>
                        </a>

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SoTienDuocVay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenToChucTinDung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayVay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiHanVay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdNguoiNavigation.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TinhTrangVayNavigation.TuyChon)
                    </td>

                </tr>
                i++;
            }
        </tbody>
    </table>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

    <!-- FixedColumns JS -->
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>


    <script>
        // Initialize DataTable
        $('#Tablelinh').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json"
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "scrollX": true,
            "scrollY": '200px',
            "scrollCollapse": true,
            "fixedColumns": {
                left: 2 // Cố định 2 cột ở bên trái
            }
        });

        // Initialize tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });


    </script>
