@model IEnumerable<C500Hemis.Models.TbDonViLienKetDaoTaoGiaoDuc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCoSoGiaoDucNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiLienKetNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCoSoGiaoDucNavigation.IdCoSoGiaoDuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiLienKetNavigation.IdLoaiLienKet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDonViLienKetDaoTaoGiaoDuc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDonViLienKetDaoTaoGiaoDuc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDonViLienKetDaoTaoGiaoDuc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
