@model C500Hemis.Models.TbGiaiThuongKhoaHoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbGiaiThuongKhoaHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiaiThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiaiThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanToChucGiaiThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanToChucGiaiThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDeTaiDuocTraoGiai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDeTaiDuocTraoGiai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDonViDuocTraoGiai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDonViDuocTraoGiai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuyetDinhCapBangKhen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuyetDinhCapBangKhen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanBanHanhQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanBanHanhQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiGiaiThuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiGiaiThuongNavigation.IdLoaiGiaiThuongKhcn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMucGiaiThuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMucGiaiThuongNavigation.IdMucGiaiThuong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGiaiThuongKhoaHoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
