@model C500Hemis.Models.TbGiaoVienQpan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbGiaoVienQpan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauBietPhai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauBietPhai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNamBietPhai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNamBietPhai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaoTaoGdqpan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaoTaoGdqpan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTruongCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTruongCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiGiangVienQpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiGiangVienQpNavigation.IdLoaiGiangVienQuocPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuanHamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuanHamNavigation.IdQuanHam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGiaoVienQpan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
