@model C500Hemis.Models.TbPhongThiNghiem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbPhongThiNghiem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucDoDapUngNhuCauNckh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucDoDapUngNhuCauNckh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamDuaVaoSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamDuaVaoSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCongTrinhCsvcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCongTrinhCsvcNavigation.IdCongTrinhCoSoVatChat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinhVucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinhVucNavigation.IdLinhVucNghienCuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiPhongThiNghiemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiPhongThiNghiemNavigation.IdLoaiPhongThiNghiem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPhongThiNghiem" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
