@model C500Hemis.Models.TbQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBanHanhQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBanHanhQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucDaoTaoNavigation.IdHinhThucDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiQuyetDinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiQuyetDinhNavigation.IdLoaiQuyetDinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
