@model IEnumerable<C500Hemis.Models.TbQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBanHanhQuyetDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHinhThucDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiQuyetDinhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBanHanhQuyetDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHinhThucDaoTaoNavigation.IdHinhThucDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiQuyetDinhNavigation.IdLoaiQuyetDinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdQuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
