@model C500Hemis.Models.TbNganhGiangDayCuaCanBo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbNganhGiangDayCuaCanBo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaNganhChinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaNganhChinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViThinhGiang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViThinhGiang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNganhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNganhNavigation.IdNganhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNganhGiangDayCuaCanBo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
