@model C500Hemis.Models.TbTaiSanTriTue

@{
    ViewData["Title"] = "Xóa";

}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
            body
        {
            height: 100%;
            margin: 0;
            overflow-y: auto;
            background-image: url("https://images.hdqwalls.com/download/digital-artist-land-water-mountains-lake-slovenia-pic-3840x2160.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
            .btn {
                transition: transform 0.3s ease;
            }

                .btn:hover {
                    transform: scale(1.2);
                }
    </style>
</head>
<body>

    <div class="container mt-4">
        <h1 class="mb-3" style="text-align: center; color: #190a33;">Tài Sản Trí Tuệ</h1>
        <hr class="mb-5" />
        @if (TempData["ConfirmationMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <h2 class="alert-heading">@TempData["ConfirmationMessage"]</h2>

                <div class="row">
                    <div class="col-sm-1">
                        <form asp-action="Delete" class="form-inline">
                            <input type="hidden" asp-for="IdTaiSanTriTue" />
                            <button type="submit" class="btn btn-danger">Có</button>
                        </form>
                    </div>
                    <div class="col-sm-1">
                        <a asp-action="Index" class="btn btn-info float-right">Không</a>
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        }



        <div class="card mb-5">
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4">Mã giải pháp sáng chế</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.MaGiaiPhapSangChe)</dd>

                    <dt class="col-sm-4">Tên tài sản trí tuệ</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TenTaiSanTriTue)</dd>

                    <dt class="col-sm-4">Tổ chức cấp bằng chứng nhận</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ToChucCapBangGiayChungNhan)</dd>

                    <dt class="col-sm-4">Ngày cấp bằng chứng nhận</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayCapBangGiayChungNhan)</dd>

                    <dt class="col-sm-4">Tổ chức cấp bằng</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ToChucCapBang)</dd>

                    <dt class="col-sm-4">Số bằng</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.SoBang)</dd>

                    <dt class="col-sm-4">Ngày cấp</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayCap)</dd>

                    <dt class="col-sm-4">Số đơn</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.SoDon)</dd>

                    <dt class="col-sm-4">Ngày nộp đơn</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayNopDon)</dd>

                    <dt class="col-sm-4">Quyết định cấp bằng chứng nhận</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.QuyetDinhCapBangGiayChungNhan)</dd>

                    <dt class="col-sm-4">Công bố bằng</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CongBoBang)</dd>

                    <dt class="col-sm-4">IPC</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Ipc)</dd>

                    <dt class="col-sm-4">Chủ sở hữu</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ChuSoHuu)</dd>

                    <dt class="col-sm-4">Tác giả sáng chế giải pháp</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TacGiaSangCheGiaiPhap)</dd>

                    <dt class="col-sm-4">Tóm tắt nội dung tài sản trí tuệ</dt>
                    @if (Model.TomTatNoiDungTaiSanTriTue != null)
                    {
                        <dt class="col-sm-8">
                            <span class="short-description"> @String.Join(" ", Model.TomTatNoiDungTaiSanTriTue.Split(' ').Take(10))...</span>
                            <span class="full-description" style="display: none;">@Model.TomTatNoiDungTaiSanTriTue</span>
                            <a href="javascript:void(0)" onclick="toggleDescription(this)" style="color: blue; cursor: pointer;">Xem thêm</a>
                        </dt>



                    }
                    else
                    {
                        <dd class="col-sm-8">không có tóm tắt</dd>



                    }


                    <dt class="col-sm-4">Người chủ trì</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NguoiChuTri)</dd>

                    <dt class="col-sm-4">Năm được chấp nhận đơn hợp lệ</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NamDuocChapNhanDonHopLe)</dd>

                    <dt class="col-sm-4">Loại tài sản trí tuệ</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.IdLoaiTaiSanTriTueNavigation.IdLoaiTaiSanTriTue)</dd>

                    <dt class="col-sm-4">Nhiệm vụ KH&amp;CN</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.IdNhiemVuKhcnNavigation.IdNhiemVuKhcn)</dd>
                </dl>
            </div>
        </div>
    </div>
    <script>
        function toggleDescription(link) {
            var td = link.parentElement;
            var shortDesc = td.querySelector('.short-description');
            var fullDesc = td.querySelector('.full-description');

            if (fullDesc.style.display === "none") {
                fullDesc.style.display = "inline";
                shortDesc.style.display = "none";
                link.textContent = " Thu gọn";
            } else {
                fullDesc.style.display = "none";
                shortDesc.style.display = "inline";
                link.textContent = "Xem thêm";
            }
        }


    </script>
</body>