@model C500Hemis.Models.TbHinhThucDaoTaoCuaNganh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbHinhThucDaoTaoCuaNganh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNamDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNamDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucDaoTaoNavigation.IdHinhThucDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNganhDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNganhDaoTaoNavigation.IdNganhDaoTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHinhThucDaoTaoCuaNganh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
