@model C500Hemis.Models.TbChiTietTaiSanDonVi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbChiTietTaiSanDonVi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTaiSan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTaiSan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTaiSan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTaiSan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguyenGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguyenGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChuSoHuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChuSoHuuNavigation.IdChuSoHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTaiSanDonViNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTaiSanDonViNavigation.IdTaiSanDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrangThietBiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrangThietBiNavigation.IdTinhTrangThietBi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChiTietTaiSanDonVi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
