@model C500Hemis.Models.TbToChucKiemDinh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbToChucKiemDinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhKiemDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhKiemDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapChungNhanKiemDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapChungNhanKiemDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiHanKiemDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiHanKiemDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKetQuaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKetQuaNavigation.IdKetQuaKiemDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdToChucKiemDinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdToChucKiemDinhNavigation.IdToChucKiemDinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdToChucKiemDinhCsdg">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
