@model C500Hemis.Models.TbThoaThuanHopTacQuocTe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbThoaThuanHopTacQuocTe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThoaThuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThoaThuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThoaThuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThoaThuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungTomTat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungTomTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenToChuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenToChuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKyKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKyKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoVanBanKyKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoVanBanKyKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuocGiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaNavigation.IdQuocTich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdThoaThuanHopTacQuocTe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
