@model IEnumerable<C500Hemis.Models.TbDonViThinhGiangCuaCanBo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonViThinhGiang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoHopDongThinhGiang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThamNienGiangDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCanBoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonViThinhGiang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoHopDongThinhGiang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThamNienGiangDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCanBoNavigation.IdCanBo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDonViThinhGiangCuaCanBo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDonViThinhGiangCuaCanBo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDonViThinhGiangCuaCanBo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
