@model IEnumerable<C500Hemis.Models.TbKhoanTrichLapQuy>

@{
    ViewData["Title"] = "Khoản Trích Lập Quỹ";
}

@section Heads {
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}
<style>
    body {
        background-image: linear-gradient(to right, #8360c3, #2ebf91);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    /*Thiết lập kiểu cho container của bảng dữ liệu*/
    .table-container {
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    /*Thiết lập màu nền và màu chữ cho header của bảng*/
    thead {
        background-color: #34495e;
        color: white;
    }

    /*Hiệu ứng hover cho hàng của bảng*/
    #ntable tbody tr:hover {
        background-color: #f2f2f2;
    }

    /*Định dạng các nút tùy chỉnh*/
    .btn-custom {
        border: none;
        padding: 8px 12px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    /*Màu sắc tùy chỉnh cho từng loại nút*/
    .btn-primary-custom {
        background-color: #3498db;
        color: white;
    }

    .btn-success-custom {
        background-color: #456512;
        color: white;
    }

    .btn-danger-custom {
        background-color: #e74c3c;
        color: white;
    }

    /*Hiệu ứng hover cho các nút*/
    .btn-custom:hover {
        transform: translateY(-5px);
        opacity: 0.8;
    }

    /*Căn chỉnh biểu tượng trong các nút*/
    a.btn-custom i {
        margin-right: 5px;
    }

    a {
        text-decoration: none;
    }

    /*Căn chỉnh margin cho các đoạn văn*/
    p {
        margin-top: 30px;
    }

    /*Thiết lập kiểu chữ và kích thước cho tiêu đề h1*/
    h1 {
        font-size: 63px;
        color: #FFFFE0;
        margin-bottom: 20px;
    }

    /*Thiết lập kiểu chữ và kích thước cho tiêu đề h4*/
    h4 {
        color: #FFFFE0;
    }

    /*Định dạng tiêu đề và ô trong bảng*/
    th {
        padding: 12px;
        border: 1px solid #ddd;
        font-size: 18px;
    }

    td {
        padding: 12px;
        border: 1px solid #ddd;
        color: #34495e;
    }

    /*Vị trí logo*/
    .logo-container {
        position: absolute;
        top: 100px;
        right: 200px;
    }

</style>

<h1>Khoản Trích Lập Quỹ</h1>
<h4>@Model.Count() Khoản Trích Lập Quỹ đã được tạo.</h4>
<p>
    <a asp-action="Create" style="color: #98FB98; font-size: 25px; text-decoration: none; font-weight: bold; border: 3px solid #98FB98; padding: 10px 20px; border-radius: 5px;">Tạo Mới</a>
</p>
<div class="logo-container">
    <img src="https://upload.wikimedia.org/wikipedia/vi/8/85/Logo_hoc_vien_ANND.png" alt="Logo Học viện An ninh nhân dân" width="175" />
</div>

<div>
    <table class="table-container" id="ntable">
        <thead>
            <tr>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.MaKhoanTrichLapQuy)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.TenKhoanTrichLapQuy)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.NamTaiChinh)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.SoTien)
                </th>
                <th style="text-align:center;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.MaKhoanTrichLapQuy)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.TenKhoanTrichLapQuy)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.NamTaiChinh)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.SoTien)
                    </td>
                    <td style="text-align:center;">
                        <a asp-action="Edit" asp-route-id="@item.IdKhoanTrichLapQuy" class="btn btn-primary-custom btn-custom">
                            <i class="fas fa-edit"></i> Sửa
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdKhoanTrichLapQuy" class="btn btn-success-custom btn-custom">
                            <i class="fas fa-info-circle"></i> Chi tiết
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdKhoanTrichLapQuy" class="btn btn-danger-custom btn-custom">
                            <i class="fas fa-trash"></i> Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

    new DataTable('#ntable', {
        searching: true, // Mặc định là true, set false để tắt chức năng search
        processing: true,
        info: false, // Tắt thông tin về table VD: Showing 1 to 14 of 14 entries
        language: {
            processing: "Message khi đang tải dữ liệu",
            search: "Tìm kiếm",
            lengthMenu: "Điều chỉnh số lượng bản ghi trên 1 trang _MENU_ ",
            info: "Bản ghi từ _START_ đến _END_ Tổng công _TOTAL_ bản ghi",
            infoEmpty: "Khi không có dữ liệu, Hiển thị 0 bản ghi trong 0 tổng cộng 0 ",
            infoFiltered: "(Message bổ sung cho info khi không search đc record nào _MAX_)",
            infoPostFix: "Alo Alo", // Cái này khi thêm vào nó sẽ đứng sau info
            loadingRecords: "",
            zeroRecords: "Không tìm thấy giá trị phù hợp",
            emptyTable: "Không có dữ liệu",
            paginate: {
                first: "Trang đầu",
                previous: "Trang trước",
                next: "Trang sau",
                last: "Trang cuối"
            },
            aria: {
                sortAscending: ": Message khi đang sắp xếp theo column",
                sortDescending: ": Message khi đang sắp xếp theo column",
            }
        },
    });
</script>