@model IEnumerable<C500Hemis.Models.TbKhoanNopNganSach>

    

@{
    ViewData["Title"] = "Khoản nộp ngân sách"; //commit   

    int stt = 0;
}
@section Heads {
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}

<h1 style="text-align:center;font-family:Roboto Mono;font-size:70px;">Khoản nộp ngân sách</h1>

<h2 style="text-align:center;">@Model.Count() Khoản nộp ngân sách đã được tạo</h2>
<a class="btn btn-success" asp-action="Create" style="border-color:black; text-align:center;"><i style="margin-right:10px;" class="fa-solid fa-user-plus fa-beat"></i>Tạo Mới</a>

<body>
    <table class="table" id="ntable">
        <thead>
            <tr style="background-color:#19334d;color:white;">
                <th>STT</th>

                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.MaKhoanNop)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.TenKhoanNopNganSach)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.SoTien)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.NamTaiChinh)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                stt++;

                var text = stt % 2 == 0 ? "odd" : "even";    @* sử dụng toán tử ba ngôi để chọn class *@
                <tr class="@text">
                    <td>@stt</td>

                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.MaKhoanNop)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.TenKhoanNopNganSach)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.SoTien)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.NamTaiChinh)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdKhoanNopNganSach" class="btn btn-primary" style="background-color:#3b5ba5    ; color: white; text-decoration: none;border-style:none">
                            <i class="fa-solid fa-pen-to-square fa-beat"></i> Sửa
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdKhoanNopNganSach" class="btn btn-success" style="background-color: #e87a5d; color: black; text-decoration: none;border-style:none">
                            <i class="fa-solid fa-circle-info fa-beat"></i> Chi tiết
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdKhoanNopNganSach" class="btn btn-danger" style="background-color:#f3b941; color: white; text-decoration: none;border-style:none">
                            <i class="fa-solid fa-trash fa-beat"></i> Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
<script>

    new DataTable('#ntable', {
        searching: true, // Mặc định là true, set false để tắt chức năng search
        processing: true,
        info: false, // Tắt thông tin về table VD: Showing 1 to 14 of 14 entries
        language: {
            processing: "Message khi đang tải dữ liệu",
            search: "Tìm kiếm",
            lengthMenu: "Điều chỉnh số lượng bản ghi trên 1 trang _MENU_ ",
            info: "Bản ghi từ _START_ đến _END_ Tổng công _TOTAL_ bản ghi",
            infoEmpty: "Khi không có dữ liệu, Hiển thị 0 bản ghi trong 0 tổng cộng 0 ",
            infoFiltered: "(Message bổ sung cho info khi không search đc record nào _MAX_)",
            infoPostFix: "Alo Alo", // Cái này khi thêm vào nó sẽ đứng sau info
            loadingRecords: "",
            zeroRecords: "Không tìm thấy",
            emptyTable: "Không có dữ liệu",
            paginate: {
                first: "Trang đầu",
                previous: "Trang trước",
                next: "Trang sau",
                last: "Trang cuối"
            },
            aria: {
                sortAscending: ": Message khi đang sắp xếp theo column",
                sortDescending: ": Message khi đang sắp xếp theo column",
            }
        },
    });
</script>



<style>
    a {
        text-decoration: none;
    }

        a:hover {
            transform: scale(1.1); /* Tăng kích thước nút lên 10% khi hover */
        }

    body {
        font-family: Arial, sans-serif;
        background-color: #f9fbe7; /* Nền tổng thể màu vàng nhạt */
        background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png'); /* Họa tiết nền */
        background-size: cover; /* Kích thước hình ảnh nền */
        padding: 20px;
        background: linear-gradient(135deg, #5cd6d6, #c2f0f0);
    }

    .odd {
        background-color: #d6f5f5 !important;
    }

    .even {
        background-color: #99e6e6 !important;
    }
</style>