@model C500Hemis.Models.TbQuaTrinhCongTacCuaCanBo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbQuaTrinhCongTacCuaCanBo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuThangNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuThangNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenThangNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenThangNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChucDanhGiangVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChucDanhGiangVienNavigation.IdChucDanhGiangVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChucVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChucVuNavigation.IdChucVu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdQuaTrinhCongTacCuaCanBo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
