@model IEnumerable<C500Hemis.Models.TbQuaTrinhCongTacCuaCanBo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Danh sách quá trình công tác của cán bộ</h1>

<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
</p>

<form asp-controller="QuaTrinhCongTacCuaCanBo" asp-action="Index" method="get" class="text-center mb-3">
    <div class="input-group">
        <input type="number" name="Search" class="form-control" placeholder="Tìm kiếm theo Id cán bộ" />
        <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Đơn vị công tác</th>
            <th>Id Cán bộ</th>
            <th>Chức danh giảng viên</th>
            <th>Chức vụ</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TuThangNam)</td>
                <td>@Html.DisplayFor(modelItem => item.DenThangNam)</td>
                <td>@Html.DisplayFor(modelItem => item.DonViCongTac)</td>
                <td>@Html.DisplayFor(modelItem => item.IdCanBo)</td>
                <td>@Html.DisplayFor(modelItem => item.IdChucDanhGiangVien)</td>
                <td>@Html.DisplayFor(modelItem => item.IdChucVu)</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdQuaTrinhCongTacCuaCanBo">Sửa</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdQuaTrinhCongTacCuaCanBo">Chi tiết</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdQuaTrinhCongTacCuaCanBo">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
