@model C500Hemis.Models.TbDoanCongTac

@{
    ViewData["Title"] = "Details";
}

<h1 >Thông tin chi tiết</h1>


    

<div class="container">
    <h4 style="text-align:center">Đoàn công tác</h4>
    <hr />
    <dl class="row"  >
        <dt class = "col-sm-2">
            Mã đoàn công tác:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDoanCongTac)
        </dd>
        <dt class = "col-sm-2">
            Tên đoàn công tác:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDoanCongTac)
        </dd>
        <dt class = "col-sm-2">
            Số quyết định:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            Ngày quyết định:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            Thời gian bắt đầu:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            Thời gian kết thúc:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianketThuc)
        </dd>
        <dt class = "col-sm-2">
           Mục đích công tác:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucDichCongTac)
        </dd>
        <dt class = "col-sm-2">
           Kết quả công tác:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQuaCongTac)
        </dd>
        <dt class = "col-sm-2">
            Phân loại đoàn ra/vào:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhanLoaiDoanRaDoanVaoNavigation.IdPhanLoaiDoanRaDoanVao)
        </dd>
        <dt class = "col-sm-2">
            Quốc gia đoàn được cử:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaDoanNavigation.IdQuocTich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDoanCongTac"> Sửa </a> |
    <a asp-action="Index"> Quay lại </a>
</div>
