@model C500Hemis.Models.TbDoanCongTac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDoanCongTac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDoanCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDoanCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDoanCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDoanCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianketThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianketThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucDichCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucDichCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQuaCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQuaCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhanLoaiDoanRaDoanVaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhanLoaiDoanRaDoanVaoNavigation.IdPhanLoaiDoanRaDoanVao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuocGiaDoanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaDoanNavigation.IdQuocTich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDoanCongTac">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
