@model C500Hemis.Models.TbNhomNghienCuuManh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbNhomNghienCuuManh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhomNghienCuuManh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhomNghienCuuManh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhomNghienCuuManh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhomNghienCuuManh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhThanhLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToChucBanHanhQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToChucBanHanhQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CacNhiemVuNckh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CacNhiemVuNckh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TomTatKetQuaDatDuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TomTatKetQuaDatDuoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNhomNghienCuuManh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
