@model C500Hemis.Models.TbDoiTuongChinhSachCanBo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDoiTuongChinhSachCanBo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoiTuongChinhSachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoiTuongChinhSachNavigation.IdDoiTuongChinhSach)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDoiTuongChinhSachCanBo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
