@model C500Hemis.Models.TbThongTinNguoiHocGdtc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbThongTinNguoiHocGdtc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQuaHocTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQuaHocTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuChuanDanhGiaXepLoaiTheLuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuChuanDanhGiaXepLoaiTheLuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHocVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHocVienNavigation.IdHocVien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdThongTinNguoiHocGdtc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
