@model C500Hemis.Models.TbChuyenGiaoCongNgheVaDaoTao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbChuyenGiaoCongNgheVaDaoTao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSoHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSoHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongChiPhiThucHien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongChiPhiThucHien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongThoiGianThucHien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongThoiGianThucHien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucChuyenGiaoCongNghe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucChuyenGiaoCongNghe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuSoHuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuSoHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViChuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViChuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViPhoiHop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViPhoiHop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViNhanChuyenGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViNhanChuyenGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TomTat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TomTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDuAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNguoiDuocDaoTaoChuyenGiaoCn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNguoiDuocDaoTaoChuyenGiaoCn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucChuyenGiaoCongNgheNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucChuyenGiaoCongNgheNavigation.IdHinhThucChuyenGiaoCongNghe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinhVucNghienCuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinhVucNghienCuuNavigation.IdLinhVucNghienCuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNganhKinhTeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNganhKinhTeNavigation.IdNganhKinhTe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNhiemVuKhcnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNhiemVuKhcnNavigation.IdNhiemVuKhcn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrangThaiHopDongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangThaiHopDongNavigation.IdTrangThaiHopDong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChuyenGiaoCongNgheVaDaoTao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
