@model C500Hemis.Models.TbPhongHocGiangDuongHoiTruong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbPhongHocGiangDuongHoiTruong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongHocGiangDuongHoiTruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongHocGiangDuongHoiTruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhongHocGiangDuongHoiTruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhongHocGiangDuongHoiTruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuyMoChoNgoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuyMoChoNgoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamDuaVaoSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamDuaVaoSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucSoHuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucSoHuuNavigation.IdHinhThucSoHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiDeAnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiDeAnNavigation.IdLoaiDeAnChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiPhongHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiPhongHocNavigation.IdLoaiPhongHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhanLoaiCsvcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhanLoaiCsvcNavigation.IdPhanLoaiCsvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrangCoSoVatChatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrangCoSoVatChatNavigation.IdTinhTrangCoSoVatChat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPhongHocGiangDuongHoiTruong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
