@model C500Hemis.Models.TbNhiemVuKhcn

@{
    ViewData["Title"] = "Xóa hồ sơ";
}


@section Heads {
    <meta charset="utf-8" />
    <meta name="viewport" content="width:device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: "Pridi", serif; /*Phông chữ */
            font-style: normal; /*Kiểu chữ*/
            background-color: rgba(255, 0, 0,0.5); /*Màu nền*/
        }

        /*ĐỊnh dạng chung cho khối container*/
        .container {
            background-color: WHITE; /*Màu nền */
            justify-content: center; /*Căn chỉnh ở giưã theo chiều ngang */
            align-items: center; /*Căn chỉnh nằm giữa theo chiều dọc*/
            padding: 20px; /*Tạo khoảng trông xung quanh phần tử*/
            font-weight: 500; /*In đậm chữ */
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6); /*Chỉnh đổ bóng hiệu ứng cho lớp row */
            border-radius: 25px; /*Bo viền cho lớp row */
        }

        /*Định dạng cho tiêu đề h1 */
        h1 {
            text-align: center; /*Căn giữa cho nội dung*/
            font-family: "Pridi", serif; /*Phông chữ */
            font-weight: 700; /*Độ dày của chữ */
            font-style: normal; /*Kiểu chữ*/
            color: red; /*Màu chữ*/
        }

        /*Định dạng cho tiêu đề h3 */
        h3 {
            text-align: center; /*Căn giữa cho nội dung*/
            font-family: "Pridi", serif; /*Phông chữ */
            font-weight: 700; /*Độ dày của chữ */
            font-style: normal; /*Kiểu chữ*/
        }

        /*Định dạng cho ảnh logo*/
        img {
            max-width: 150px;
            display: block;
            margin: 0 auto;
        }

        /*Định dạng cho khối info-block*/
        .info-block {
            margin-bottom: 25px;
        }

        /*Định dạng cho khối row*/
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        dt, dd {
            flex: 1;
            text-align: left;
            margin: 0;
        }

        dt {
            font-weight: bold;
        }

        dd {
            text-align: right;
        }

        @@media (max-width: 768px) {
            .row {
                flex-direction: column;
                text-align: center;
            }

            dd {
                text-align: center;
            }

            .btn {
                width: 100%;
            }

            .container {
                padding: 10px;
            }

            dt, dd {
                flex: none;
            }
        }

        /*Định dạng chuyển màu khi nhấn nút Xác nhận xóa */
        .button_a_delete:hover {
            background-color: red;
            color: white;
        }

        /*Định dạng chuyển màu khi nhấn nút Trở về */
        .button_a_back:hover {
            background-color: grey;
            color: white;
        }


        /* Định dạng cho nút bấm xóa và trở về*/
        .button_a_back, .button_a_delete {
            border-style: solid;
            border-width: 1px;
            text-align: center;
            padding: 10px 30px;
            font-size: 15px;
            text-decoration: none;
            border-radius: 35px;
            color: black;
            font-weight: bold;
            width: 50%;
            background-color: white;
        }

        /*Định dạng cho khối back*/
        .back {
            width: 100%;
            display: flex;
            justify-content: center; /* Canh giữa các nút trong div */
            align-items: center;
        }
    </style>
}

<h1> <i class="fa fa-trash"></i> XÓA HỒ SƠ </h1>


<div class="container">
    <p style="text-align: center;">
        <img src="https://upload.wikimedia.org/wikipedia/vi/8/85/Logo_hoc_vien_ANND.png" alt="Học viện An ninh nhân dân">
    </p>


    <h3>
        Bạn có muốn xóa hồ sơ nhiệm vụ <p style="color:red"> @Html.DisplayFor(model => model.MaNhiemVu)? </p>
    </h3>

    <hr />


    <dl class="row" style="color:red; font-weight:bold">
        <dt>
            Mã nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNhiemVu)
        </dd>
    </dl>

    <dl class="row" style="color:red; font-weight:bold">
        <dt>
            Tên nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNhiemVu)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Cơ quan chủ trì:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoQuanChuTri)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Người chủ trì:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiChuTri)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Thuộc nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThuocNhiemVu)
        </dd>

    </dl>

    <dl class="row">
        <dt>
            Tổng kinh phí của nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TongKinhPhiCuaNhiemVu)
        </dd>
    </dl>

    <dl class="row" style="color:red; font-weight:bold">
        <dt>
            Thời gian bắt đầu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Thời gian kết thúc:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Đánh giá kết quả nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DanhGiaKetQuaNhiemVu)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Sản phẩm chính của nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SanPhamChinhCuaNhiemVu)
        </dd>
    </dl>

    <dl class="row" style="color:red; font-weight:bold">
        <dt>
            Cấp quản lý của nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCapQuanLyNhiemVuNavigation.PhanCapNhiemVu)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Cơ quan chủ quản:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCoQuanChuQuanNavigation.CoQuanChuQuan)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Lĩnh vực nghiên cứu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdLinhVucNghienCuuNavigation.LinhVucNghienCuu)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Nguồn kinh phí:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNguonKinhPhiNavigation.NguonKinhPhi)
        </dd>
    </dl>

    <dl class="row" style="color:red; font-weight:bold">
        <dt>
            Phân loại nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPhanLoaiNhiemVuNavigation.LoaiNhiemVu)
        </dd>
    </dl>

    <dl class="row">
        <dt>
            Tình trạng của nhiệm vụ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTinhTrangNhiemVuNavigation.TinhTrangNhiemVu)
        </dd>
    </dl>





    <form asp-action="Delete">
        <div class="back">
            <input type="hidden" asp-for="IdNhiemVuKhcn" />
            <input type="submit" value="Xác nhận xóa" class="button_a_delete" />
        </div> <br />

        <div class="back">
            <a class="button_a_back" asp-action="Index"><i class="fa fa-home"></i>Trở về</a>
        </div><br />
        <br />
    </form>

</div>
<br />
<br />
