@model C500Hemis.Models.TbNhiemVuKhcn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbNhiemVuKhcn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanChuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanChuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiChuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiChuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuocNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuocNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongKinhPhiCuaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongKinhPhiCuaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGiaKetQuaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGiaKetQuaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPhamChinhCuaNhiemVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPhamChinhCuaNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCapQuanLyNhiemVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCapQuanLyNhiemVuNavigation.IdPhanCapNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoQuanChuQuanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoQuanChuQuanNavigation.IdCoQuanChuQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinhVucNghienCuuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinhVucNghienCuuNavigation.IdLinhVucNghienCuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguonKinhPhiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguonKinhPhiNavigation.IdNguonKinhPhi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhanLoaiNhiemVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhanLoaiNhiemVuNavigation.IdLoaiNhiemVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrangNhiemVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrangNhiemVuNavigation.IdTinhTrangNhiemVu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNhiemVuKhcn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
