@model C500Hemis.Models.TbCongTrinhCoSoVatChat

@{
    ViewData["Title"] = "Details";
}
<style>
     body {
         font-family: 'lato', sans-serif;
         background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
     }



     .end-button a {
         display: inline-block;
         padding: 10px 15px;
         background-color: #125B9A;
         color: #fff;
         text-decoration: none;
         border-radius: 5px;
         margin-bottom: 10px;
         margin-top: 10px;
     }
    dt{
        white-space: nowrap;
    }
    .contain{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 936px;
         background-color: #fff;
         border-radius: 24px;
         padding: 10px 20px;
         box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
         position: relative;
         margin: auto;
    }
    .contain::before{
             top: 0;
             left: 0;
             border-radius: 24px 24px 0 0;
             content: "";
             position: absolute;
             height: 13%;
             width: 100%;
             background-color: #16a085;
    }

     h1 {
         position: relative;
         padding: 10px 15px;
     }

     .main-text {
         font-weight: 600;
         text-align: center;
         background-color: #16a085;
         color: #fff;
         margin-bottom: 20px;
     }
</style>
<div class="contain">
    <h1 class="main-text">THÔNG TIN CHI TIẾT</h1>

    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MaCongTrinh)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.MaCongTrinh)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TenCongTrinh)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TenCongTrinh)
            </dd>
            <dt class="col-sm-4">
                Loại công trình
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.IdLoaiCongTrinhNavigation.LoaiCongTrinhCoSoVatChat)
            </dd>
            <dt class="col-sm-4">
                Mục đích sử dụng
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.IdMucDichSuDungNavigation.MucDichSuDungCsvc)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DoiTuongSuDung)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DoiTuongSuDung)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DienTichSanXayDung)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DienTichSanXayDung)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VonBanDau)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.VonBanDau)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VonDauTu)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.VonDauTu)
            </dd>
            <dt class="col-sm-4">
                Tình trạng CSVC
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.IdTinhTrangCsvcNavigation.TinhTrangCoSoVatChat)
            </dd>
            <dt class="col-sm-4">
                Hình thức sở hữu
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.IdHinhThucSoHuuNavigation.HinhThucSoHuu)
            </dd>
            <dt class="col-sm-4">
                Công trình CSVC trong nhà
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CongTrinhCsvctrongNhaNavigation.TuyChon)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SoPhongOcongVu)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.SoPhongOcongVu)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SoChoOchoCanBoGiangDay)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.SoChoOchoCanBoGiangDay)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NamDuaVaoSuDung)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NamDuaVaoSuDung)
            </dd>



        </dl>

    </div>
    <div>

        <div class="end-button">
            <a asp-action="Edit" asp-route-id="@Model?.IdCongTrinhCoSoVatChat">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
