@model IEnumerable<C500Hemis.Models.TbCongTrinhCoSoVatChat>

@{
    ViewData["Title"] = "Index";
}

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 align="center">Thông tin tổng quát</h1>
<style>
    .create-new {
        display: inline-block;
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .action-links a {
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #ffcccc;
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
</style>
    <div class="container">
<p>
    <a asp-action="Create" class="create-new">Tạo Mới</a>
</p>
<table class="table">  
    <thead >
            <th>@Html.DisplayNameFor(model => model.MaCongTrinh)</th>
            <th>@Html.DisplayNameFor(model => model.TenCongTrinh)</th>
            <th>@Html.DisplayNameFor(model => model.IdLoaiCongTrinh)</th>
            <th>@Html.DisplayNameFor(model => model.IdMucDichSuDung)</th>
            <th>@Html.DisplayNameFor(model => model.DoiTuongSuDung)</th>
            <th>@Html.DisplayNameFor(model => model.DienTichSanXayDung)</th>
            <th>@Html.DisplayNameFor(model => model.VonBanDau)</th>
            <th>@Html.DisplayNameFor(model => model.VonDauTu)</th>
            <th>@Html.DisplayNameFor(model => model.IdTinhTrangCsvc)</th>
            <th>@Html.DisplayNameFor(model => model.IdHinhThucSoHuu)</th>
            <th>@Html.DisplayNameFor(model => model.CongTrinhCsvctrongNha)</th>
            <th>@Html.DisplayNameFor(model => model.SoPhongOcongVu)</th>
            <th>@Html.DisplayNameFor(model => model.SoChoOchoCanBoGiangDay)</th>
            <th>@Html.DisplayNameFor(model => model.NamDuaVaoSuDung)</th>
            <th>
                Actions
            </th>
        
    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiTuongSuDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienTichSanXayDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VonBanDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VonDauTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoPhongOcongVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoChoOchoCanBoGiangDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamDuaVaoSuDung)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CongTrinhCsvctrongNhaNavigation.IdTuyChon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdHinhThucSoHuuNavigation.IdHinhThucSoHuu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiCongTrinhNavigation.IdLoaiCongTrinhCoSoVatChat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMucDichSuDungNavigation.IdMucDichSuDungCsvc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTinhTrangCsvcNavigation.IdTinhTrangCoSoVatChat)
                </td>
                <td>
                    <div class="action-links">
                        <a asp-action="Edit" asp-route-id="@item.IdCongTrinhCoSoVatChat">Edit</a>
                        <hr>
                        <a asp-action="Details" asp-route-id="@item.IdCongTrinhCoSoVatChat">Details</a>
                        <hr>
                        <a asp-action="Delete" asp-route-id="@item.IdCongTrinhCoSoVatChat">Delete</a>
                        <hr>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table>
    </div>
</head>