@model C500Hemis.Models.TbPhuCap

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbPhuCap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapThuHutNghe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapThuHutNghe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapThamNien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapThamNien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapUuDaiNghe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapUuDaiNghe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapDocHai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapDocHai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramVuotKhung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramVuotKhung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThangNamHuongLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThangNamHuongLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBacLuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBacLuongNavigation.IdBacLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHeSoLuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHeSoLuongNavigation.IdHeSoLuong)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPhuCap" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
