@model IEnumerable<C500Hemis.Models.TbThongTinHocTapNghienCuuSinh>

@{
    ViewData["Title"] = "Index";
}
@section Heads {
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
}
<style>
       th{

           color:black;
           font-family:Arial, Helvetica, sans-serif;
           font-size:large;

       }
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
           
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 32px;
            margin-bottom: 20px;
        }

        p a {
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }

            p a:hover {
                background-color: #218838;
            }

    th, td{
        text-align:center;
    }

    table {
        padding-bottom: 50px;
    }
</style>
<h1>Thông tin học tập nghiên cứu sinh</h1>

<table class="table table-hover" id="view_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DaoTaoTuNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaoTaoDenNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhapHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayChuyenTrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThoiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLuanVan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBaoVeCapTruong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBaoVeCapCoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuyChuanNguoiHuongDan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhCongNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinhCongNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongBaoVeCapTruong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinhThanhLapHoiDongBaoVeCapTruong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoiTuongDauVaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHocVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiHinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiTotNghiepNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiHuongDanChinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiHuongDanPhuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSinhVienNamNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrangThaiHocNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DaoTaoTuNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaoTaoDenNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhapHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayChuyenTrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhThoiHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLuanVan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBaoVeCapTruong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBaoVeCapCoSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuyChuanNguoiHuongDan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhCongNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayQuyetDinhCongNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLapHoiDongBaoVeCapTruong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayQuyetDinhThanhLapHoiDongBaoVeCapTruong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.IdChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoiTuongDauVaoNavigation.IdDoiTuongDauVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdHocVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiHinhDaoTaoNavigation.IdLoaiHinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiTotNghiepNavigation.IdLoaiTotNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiHuongDanChinhNavigation.IdCanBo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiHuongDanPhuNavigation.IdCanBo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSinhVienNamNavigation.IdSinhVienNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrangThaiHocNavigation.IdTrangThaiHoc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/datatables.min.js"></script>
    <script>
        //Datatable trong datatable.net. Tìm hiểu thêm thông tin: https://datatables.net/manual/
        var table = new DataTable("#view_table", {
            language: {
                //Điều chỉnh phần hiển thị label của thanh tìm kiếm - Xem thêm thông tin: https://datatables.net/reference/option/language.search
                search: "Tìm kiếm",
                //Điều chỉnh phần hiển thị thông tin của table - Xem thêm thông tin: https://datatables.net/reference/option/language.info
                info: "Hiển thị _MAX_ trong _TOTAL_ bản ghi",
            },
            createdRow: (row, data, index) => {
            },
            layout: {//Layout: https://datatables.net/examples/layout/index.html
                topStart: {
                    buttons: [//extension buttons: https://datatables.net/extensions/buttons/config
                        {
                            className: 'btn btn-primary', //Thêm class cho button
                            text: 'Tạo mới',
                            action: function (e, dt, node, config) {//Hành động của button
                                window.location.href = '@Url.Action("Create")';
                            }
                        }
                    ]
                }
            }
        });
        //HTMLDOM Element: https://developer.mozilla.org/en-US/docs/Web/API/Element
        //Datatables API: https://datatables.net/reference/api/table().header()
        var row = table.table().header().lastElementChild;
        row.lastElementChild.remove();
        row.appendChild(document.createElement('th'));
        console.log(row.lastElementChild);
    </script>
}