@model IEnumerable<C500Hemis.Models.TbThongTinHocTapNghienCuuSinh>

@{
    ViewData["Title"] = "Index";
}
<html lang="vi">
@section Heads {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.bootstrap5.min.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
    <link href="~/css/ThongTinHocTapNghienCuuSinh.css" rel="stylesheet" />
}

<h1>THÔNG TIN HỌC TẬP NGHIÊN CỨU SINH</h1>
<div class="w">
    <p>
        <a asp-action="Create" style="margin-left:6%;" class="btn btn-create">
            Tạo Mới  <i class="fa-solid fa-plus"></i>
        </a>
    </p>

    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdHocVienNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDoiTuongDauVaoNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdSinhVienNamNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTaoNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLoaiHinhDaoTaoNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaoTaoTuNam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaoTaoDenNam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayNhapHoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTrangThaiHocNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLoaiTotNghiepNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayChuyenTrangThai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoQuyetDinhThoiHoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenLuanVan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayBaoVeCapTruong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayBaoVeCapCoSo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuyChuanNguoiHuongDan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdNguoiHuongDanChinhNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdNguoiHuongDanPhuNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoQuyetDinhCongNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayQuyetDinhCongNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongBaoVeCapTruong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayQuyetDinhThanhLapHoiDongBaoVeCapTruong)
                </th>
                <th class="nosort">
                    Tùy chọn
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
            }
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdNguoiNavigation.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDoiTuongDauVaoNavigation.DoiTuongDauVao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSinhVienNamNavigation.SinhVienNam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdChuongTrinhDaoTaoNavigation.ChuongTrinhDaoTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdLoaiHinhDaoTaoNavigation.LoaiHinhDaoTao)
                    </td>
                    <td>

                        @if (item.DaoTaoTuNam.HasValue)
                        {
                            <span> @Html.DisplayFor(modelItem => item.DaoTaoTuNam)</span>
                        }
                        else
                        {
                            <p>Chưa nhập</p>
                        }
                    </td>
                    <td>
                        @if (item.DaoTaoDenNam.HasValue)
                        {
                            <span> @Html.DisplayFor(modelItem => item.DaoTaoDenNam)</span>
                        }
                        else
                        {
                            <p>Chưa nhập</p>
                        }
                    </td>
                    <td>
                        @if (item.NgayNhapHoc.HasValue)
                        {
                            <span> @Html.DisplayFor(modelItem => item.NgayNhapHoc)</span>
                        }
                        else
                        {
                            <p>Chưa nhập</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTrangThaiHocNavigation.TrangThaiHoc)
                    </td>
                    <td>
                        @if (item.IdLoaiTotNghiepNavigation.LoaiTotNghiep == "Xuất sắc")
                        {
                            <span class="custom-badge badge-xuatsac">Xuất sắc</span>
                        }
                        else if (item.IdLoaiTotNghiepNavigation.LoaiTotNghiep == "Giỏi")
                        {
                            <span class="custom-badge badge-gioi">Giỏi</span>
                        }
                        else if (item.IdLoaiTotNghiepNavigation.LoaiTotNghiep == "Khá")
                        {
                            <span class="custom-badge badge-kha">Khá</span>
                        }
                        else if (item.IdLoaiTotNghiepNavigation.LoaiTotNghiep == "Trung bình")
                        {
                            <span class="custom-badge badge-trungbinh">Trung bình</span>
                        }
                        else if (item.IdLoaiTotNghiepNavigation.LoaiTotNghiep == "Trung bình khá")
                        {
                            <span class="custom-badge badge-trungbinhkha">Trung bình khá</span>
                        }
                        else
                        {
                            <span>@Html.DisplayFor(modelItem => item.IdLoaiTotNghiepNavigation.LoaiTotNghiep)</span>
                        }

                    </td>
                    <td>
                        @if (item.NgayChuyenTrangThai.HasValue)
                        {
                            <span> @Html.DisplayFor(modelItem => item.NgayChuyenTrangThai)</span>
                        }
                        else
                        {
                            <p>Chưa nhập</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoQuyetDinhThoiHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLuanVan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayBaoVeCapTruong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayBaoVeCapCoSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuyChuanNguoiHuongDan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdNguoiHuongDanChinhNavigation.IdNguoiNavigation.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdNguoiHuongDanPhuNavigation.IdNguoiNavigation.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoQuyetDinhCongNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayQuyetDinhCongNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayQuyetDinhThanhLapHoiDongBaoVeCapCoSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoQuyetDinhThanhLapHoiDongBaoVeCapTruong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayQuyetDinhThanhLapHoiDongBaoVeCapTruong)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh" class="btn" data-bs-toggle="tooltip" title="Chỉnh sửa">
                            <div class="icon-container">
                                <i class="fa-regular fa-pen-to-square" style="color: #7dd9bd;"></i>
                            </div>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh" class="btn" data-bs-toggle="tooltip" title="Chi tiết">
                            <div class="icon-container">
                                <i class="fa-solid fa-circle-info" style="color: #e5b8e4;"></i>
                            </div>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdThongTinHocTapNghienCuuSinh" class="btn" data-bs-toggle="tooltip" title="Xóa">
                            <div class="icon-container">
                                <i class="fa-solid fa-trash" style="color: #f46262;"></i>
                            </div>
                        </a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        // Initialize DataTable
        new DataTable('#example', {
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json" // thiết lập tiếng việt cho datatables
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "scrollX": true,
            responsive: true,
            scrollX: true,
            fixedColumns: {
                leftColumns: 2,  // Giữ 2 cột đầu tiên
                rightColumns: 1   // Giữ cột cuối cùng
            }
        });

        // Initialize Bootstrap tooltips after DataTable initialization
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

    </script>
}
</html>