@model C500Hemis.Models.TbDonViCongTacCuaCanBo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDonViCongTacCuaCanBo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongBanDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongBanDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaDonViChinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaDonViChinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaDonViGiangDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaDonViGiangDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianCoHieuLuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianCoHieuLuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianHetHieuLuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianHetHieuLuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanBoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanBoNavigation.IdCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChucVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChucVuNavigation.IdChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHinhThucBoNhiemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHinhThucBoNhiemNavigation.IdHinhThucBoNhiem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDvct">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
