@model C500Hemis.Models.TbDanhSachVanBangChungChi

@{
    ViewData["Title"] = "Delete";
}
@*Bùi Văn Đạt*@
<div class="Bay">
    <h1>XÓA THÔNG TIN VBCC</h1>
    <div class="Tot">
        <table>
            <tbody>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.TenVanBang)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TenVanBang)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.IdChuongTrinhDaoTao)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.IdChuongTrinhDaoTao)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.TenDonViBangCap)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TenDonViBangCap)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.NgayCap)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NgayCap)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.NamTotNghiep)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NamTotNghiep)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.SoQuyetDinhCongNhanTotNghiep)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SoQuyetDinhCongNhanTotNghiep)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.NgayQuyetDinhCongNhanTotNghiep)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NgayQuyetDinhCongNhanTotNghiep)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.SoHieuVanBang)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SoHieuVanBang)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.SoVaoSoGocCapVanBang)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SoVaoSoGocCapVanBang)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.SoQuyetDinhThanhLapHoiDongDanhGiaLuanVan)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SoQuyetDinhThanhLapHoiDongDanhGiaLuanVan)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.NgayBaoVe)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NgayBaoVe)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.LinkFileScan)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.LinkFileScan)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.IdHocVien)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.IdHocVienNavigation.IdNguoiNavigation.name)
                    </td>
                </tr>
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.IdLoaiTotNghiep)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.IdLoaiTotNghiepNavigation.LoaiTotNghiep)
                    </td>
                </tr>
            </tbody>
        </table>
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdDanhSachVanBangChungChi" />
            <input type="submit" value="XÓA" class="Mu" /> 
            <a asp-action="Index" class="Mc">TRANG CHỦ</a>
        </form>
    </div>
</div>
<style>
    h1 {
        text-align: center;
        color: #EF4135;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }

    body {
        background-color: lightblue;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 8px;
        overflow: hidden;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
    }

     th, td {
        border: 2px solid black; /* Đặt độ dày viền là 3px cho bảng và ô */
        padding: 10px; /* Khoảng cách bên trong */
    }

    th {
        background-color: #FFF4E6;
        text-align: left;
        color: #000000;
        font-weight: bold;
    }

    td {
        background-color: #FFF4E6;
        color: #000000; 
    }

    tr:hover td {
        background-color: burlywood;
    }

    .Tot {
        max-width: 1000px; /* Tăng chiều rộng tối đa cho khung chứa */
        padding: 20px;
        margin: auto;
        background-color: mintcream;
        font-size: 18px;
        border-radius: 10px;
        border: 3px solid black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Thêm hiệu ứng đổ bóng */
        border-collapse: collapse; /* Đảm bảo các ô không có khoảng cách giữa các đường viền */
        font-family:'Times New Roman', Times, serif;
    }

    .Mu {
        background-color: #4CAF50;
        color: #ffffff;
        padding: 15px 20px;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        text-align: center;
    }

        .Mu:hover {
            background-color: #FF9933;
            color: #ffffff;
            transform: scale(1.10);
        }

    .Mc {
        background-color: #FF4136; /* Đổi màu nền của nút 'Trang Chủ' thành đỏ sẫm hơn */
        color: #ffffff; /* Màu chữ trắng để dễ đọc */
        padding: 15px 20px;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

        .Mc:hover {
            background-color: #1E90FF;
            color: #ffffff;
            transform: scale(1.10);
        }

    form {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }
</style>

<script>
    document.querySelector('.Mu ').addEventListener('click', function (event) {
        if (!confirm('Bạn có chắc chắn muốn XÓA thông tin VBCC này không?')) {
            event.preventDefault();
        }
    });
</script>