@model C500Hemis.Models.TbDanhSachNganhDaoTao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbDanhSachNganhDaoTao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhChoPhepMoNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhChoPhepMoNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBanHanhVanBanQuyetDinhMoNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBanHanhVanBanQuyetDinhMoNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNganhMoLanDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNganhMoLanDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNganhMoLanDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNganhMoLanDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanBanHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanBanHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhChoPhepDoiTenNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhChoPhepDoiTenNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBanHanhVanBanQuyetDinhDoiTenNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBanHanhVanBanQuyetDinhDoiTenNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNamDaoTaoThSts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNamDaoTaoThSts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamTuyenSinhVaDaoTaoGanNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamTuyenSinhVaDaoTaoGanNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongSoNamDaoTaoCuaNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongSoNamDaoTaoCuaNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauThucHienUuTienDaoTaoNhanLucDuLichCntt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauThucHienUuTienDaoTaoNhanLucDuLichCntt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinhDaoTaoTuXa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinhDaoTaoTuXa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQuyetDinhDaoTaoTuXa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQuyetDinhDaoTaoTuXa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauDaoTaoTuXa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauDaoTaoTuXa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucDaoTaoTheoChuyenNguNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucDaoTaoTheoChuyenNguNavigation.IdTuyChon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNganhDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNganhDaoTaoNavigation.IdNganhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuyetDinhTuChuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuyetDinhTuChuNavigation.IdQuyetDinhTuChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrangThaiDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangThaiDaoTaoNavigation.IdTrangThaiDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTuChuMoNganhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTuChuMoNganhNavigation.IdTuChuMoNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NganhDaoTaoLienKetNuocNgoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NganhDaoTaoLienKetNuocNgoaiNavigation.IdTuyChon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UuTienDaoTaoNhanLucDuLichCnttNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UuTienDaoTaoNhanLucDuLichCnttNavigation.IdTuyChon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDanhSachNganhDaoTao" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
