@model C500Hemis.Models.TbThongTinHocBong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbThongTinHocBong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHocBong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHocBong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViTaiTro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViTaiTro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianTraoTangHocBong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianTraoTangHocBong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriHocBong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriHocBong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHocVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHocVienNavigation.IdHocVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiHocBongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiHocBongNavigation.IdLoaiHocBong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdThongTinHocBong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
