@model IEnumerable<C500Hemis.Models.TbThongTinHocBong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHocBong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonViTaiTro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTraoTangHocBong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTriHocBong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHocVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiHocBongNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHocBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTaiTro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTraoTangHocBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTriHocBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHocVienNavigation.IdHocVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiHocBongNavigation.IdLoaiHocBong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdThongTinHocBong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdThongTinHocBong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdThongTinHocBong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
