@model C500Hemis.Models.TbChuongTrinhDaoTao

@{
    ViewData["Title"] = "Delete Program";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Delete Program</h2>
        </div>
        <div class="card-body" style="background-color:lightblue">
            <h4 class="text-danger">Are you sure you want to delete this program?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Program Code</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.MaChuongTrinhDaoTao)</dd>

                <dt class="col-sm-3">Program Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenChuongTrinh)</dd>

                <dt class="col-sm-3">English Program Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenChuongTrinhBangTiengAnh)</dd>

                <dt class="col-sm-3">Start Year</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NamBatDauTuyenSinh)</dd>

                <dt class="col-sm-3">Foreign Institution</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenCoSoDaoTaoNuocNgoai)</dd>

                <dt class="col-sm-3">Training Location</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DiaDiemDaoTao)</dd>

                <dt class="col-sm-3">Issue Date</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NgayBanHanhChuanDauRa)</dd>

                <dt class="col-sm-3">Standard Duration</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ThoiGianDaoTaoChuan)</dd>

                <dt class="col-sm-3">Outcome Standards</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ChuanDauRa)</dd>

                <dt class="col-sm-3">Approved Certificate Type</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.LoaiChungChiDuocChapThuan)</dd>

                <dt class="col-sm-3">Implementing Unit</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DonViThucHienChuongTrinh)</dd>

                <dt class="col-sm-3">Foreign Language Requirements</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ChuanDauRaVeNgoaiNgu)</dd>

                <dt class="col-sm-3">IT Requirements</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ChuanDauRaVeTinHoc)</dd>

                <dt class="col-sm-3">Tuition Fees in Vietnam</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.HocPhiTaiVietNam)</dd>

                <dt class="col-sm-3">Tuition Fees Abroad</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.HocPhiTaiNuocNgoai)</dd>

                <dt class="col-sm-3">Degree Granting Unit</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdDonViCapBangNavigation.IdDonViCapBang)</dd>

                <dt class="col-sm-3">Training Mode</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdHocCheDaoTaoNavigation.IdHocCheDaoTao)</dd>

                <dt class="col-sm-3">Program Type</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdLoaiChuongTrinhDaoTaoNavigation.IdLoaiChuongTrinhDaoTao)</dd>

                <dt class="col-sm-3">Joint Program Type</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdLoaiChuongTrinhLienKetDaoTaoNavigation.IdLoaiChuongTrinhLienKetDaoTao)</dd>

                <dt class="col-sm-3">Training Field</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdNganhDaoTaoNavigation.IdNganhDaoTao)</dd>

                <dt class="col-sm-3">Main Institution Country</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdQuocGiaCuaTruSoChinhNavigation.IdQuocTich)</dd>

                <dt class="col-sm-3">Program Status</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdTrangThaiCuaChuongTrinhNavigation.IdTrangThaiChuongTrinhDaoTao)</dd>

                <dt class="col-sm-3">Degree Level</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)</dd>
            </dl>

            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="IdChuongTrinhDaoTao" />
                <button type="submit" class="btn btn-danger" style="margin:2px">Delete</button>
                <a asp-action="Index" class="btn btn-secondary ms-3" style="margin:2px">Cancel</a>
            </form>
        </div>
    </div>
</div>
