@model C500Hemis.Models.TbChuongTrinhDaoTao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbChuongTrinhDaoTao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuongTrinhDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuongTrinhBangTiengAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuongTrinhBangTiengAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDauTuyenSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDauTuyenSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCoSoDaoTaoNuocNgoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCoSoDaoTaoNuocNgoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemDaoTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBanHanhChuanDauRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBanHanhChuanDauRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianDaoTaoChuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianDaoTaoChuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuanDauRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuanDauRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiChungChiDuocChapThuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiChungChiDuocChapThuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViThucHienChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViThucHienChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuanDauRaVeNgoaiNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuanDauRaVeNgoaiNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuanDauRaVeTinHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuanDauRaVeTinHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocPhiTaiVietNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocPhiTaiVietNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocPhiTaiNuocNgoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocPhiTaiNuocNgoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDonViCapBangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDonViCapBangNavigation.IdDonViCapBang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHocCheDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHocCheDaoTaoNavigation.IdHocCheDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiChuongTrinhDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiChuongTrinhDaoTaoNavigation.IdLoaiChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaiChuongTrinhLienKetDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaiChuongTrinhLienKetDaoTaoNavigation.IdLoaiChuongTrinhLienKetDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNganhDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNganhDaoTaoNavigation.IdNganhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuocGiaCuaTruSoChinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuocGiaCuaTruSoChinhNavigation.IdQuocTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrangThaiCuaChuongTrinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangThaiCuaChuongTrinhNavigation.IdTrangThaiChuongTrinhDaoTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrinhDoDaoTaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChuongTrinhDaoTao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
