@model IEnumerable<C500Hemis.Models.TbChuongTrinhDaoTao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaChuongTrinhDaoTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChuongTrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChuongTrinhBangTiengAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamBatDauTuyenSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenCoSoDaoTaoNuocNgoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDiemDaoTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBanHanhChuanDauRa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDaoTaoChuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDauRa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiChungChiDuocChapThuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonViThucHienChuongTrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDauRaVeNgoaiNgu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDauRaVeTinHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocPhiTaiVietNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocPhiTaiNuocNgoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDonViCapBangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHocCheDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiChuongTrinhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiChuongTrinhLienKetDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNganhDaoTaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdQuocGiaCuaTruSoChinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrangThaiCuaChuongTrinhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrinhDoDaoTaoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuongTrinhBangTiengAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamBatDauTuyenSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCoSoDaoTaoNuocNgoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiemDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBanHanhChuanDauRa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianDaoTaoChuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDauRa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiChungChiDuocChapThuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViThucHienChuongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDauRaVeNgoaiNgu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDauRaVeTinHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhiTaiVietNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhiTaiNuocNgoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDonViCapBangNavigation.IdDonViCapBang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHocCheDaoTaoNavigation.IdHocCheDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiChuongTrinhDaoTaoNavigation.IdLoaiChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiChuongTrinhLienKetDaoTaoNavigation.IdLoaiChuongTrinhLienKetDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNganhDaoTaoNavigation.IdNganhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdQuocGiaCuaTruSoChinhNavigation.IdQuocTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrangThaiCuaChuongTrinhNavigation.IdTrangThaiChuongTrinhDaoTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChuongTrinhDaoTao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChuongTrinhDaoTao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChuongTrinhDaoTao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
