@model IEnumerable<C500Hemis.Models.TbChuongTrinhDaoTao>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/IndexCTDT.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">

    <style>
        table {
            width:100%;
          border-collapse: collapse;
        }
        th, td {
            border: 2px solid rgb(17 104 118);
          text-align: center;
          padding: 10px;
        }

    </style>

</head>
<body>
    <h1 class="tieude">Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaChuongTrinhDaoTao)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.MaChuongTrinhDaoTao)
                </td>
            }

        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenChuongTrinh)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TenChuongTrinh)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenChuongTrinhBangTiengAnh)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TenChuongTrinhBangTiengAnh)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamBatDauTuyenSinh)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NamBatDauTuyenSinh)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCoSoDaoTaoNuocNgoai)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TenCoSoDaoTaoNuocNgoai)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaDiemDaoTao)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DiaDiemDaoTao)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayBanHanhChuanDauRa)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBanHanhChuanDauRa)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDaoTaoChuan)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianDaoTaoChuan)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDauRa)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ChuanDauRa)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiChungChiDuocChapThuan)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiChungChiDuocChapThuan)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonViThucHienChuongTrinh)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DonViThucHienChuongTrinh)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDauRaVeNgoaiNgu)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ChuanDauRaVeNgoaiNgu)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDauRaVeTinHoc)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ChuanDauRaVeTinHoc)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HocPhiTaiVietNam)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.HocPhiTaiVietNam)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HocPhiTaiNuocNgoai)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.HocPhiTaiNuocNgoai)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDonViCapBangNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdDonViCapBangNavigation.IdDonViCapBang)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHocCheDaoTaoNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdHocCheDaoTaoNavigation.IdHocCheDaoTao)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiChuongTrinhDaoTaoNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiChuongTrinhDaoTaoNavigation.IdLoaiChuongTrinhDaoTao)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiChuongTrinhLienKetDaoTaoNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoaiChuongTrinhLienKetDaoTaoNavigation.IdLoaiChuongTrinhLienKetDaoTao)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNganhDaoTaoNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdNganhDaoTaoNavigation.IdNganhDaoTao)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdQuocGiaCuaTruSoChinhNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdQuocGiaCuaTruSoChinhNavigation.IdQuocTich)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTrangThaiCuaChuongTrinhNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdTrangThaiCuaChuongTrinhNavigation.IdTrangThaiChuongTrinhDaoTao)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTrinhDoDaoTaoNavigation)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IdTrinhDoDaoTaoNavigation.IdTrinhDoDaoTao)
                </td>
            }
        </tr>

        <tr>
            <th>
                <p>Tùy Chỉnh</p>
            </th>
            @foreach (var item in Model)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdChuongTrinhDaoTao">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdChuongTrinhDaoTao">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdChuongTrinhDaoTao">Delete</a>
                </td>
            }
        </tr>


    </table>

</body>
</html>